@{
    ViewData["Title"] = "About Us";
}

<style>

    h1,h2,h3,h4,h5,h6{
        color: black !important;
    }
    p{
          color: black !important;
    }

</style>
 
 <div class="container">
    <div class="row" >
        <p id="about" style="margin-bottom:100px"></p>
    </div>
 </div>

<div class="container">
      <div class="row gy-4 d-flex flex-row justify-content-center mt-5 mb-5">

            <div class="col-sm-6">
                <div style="border-radius:5px;" class="">
                    <img src="~/images/about/aboutxsa.webp" style="max-height: 500px;width:100%;border-radius:15px;" class="img-responsive" />
                </div>
            </div>

            <div class="col-sm-6 team" >

                <div class="section-title" data-aos="fade-up">
                   
                    <p  class="mb-5 px-5 h2" style="text-align:left !important;margin-left: 0 !important;">About US</p>
                    <h4 class="mb-2 px-5" style="text-align:left !important;">LEARN MORE ABOUT WHO WE ARE</h4>

                </div>

                <p class="px-5">
                    <span style="font-weight: bolder"><strong>Injongo</strong></span> Xhosa Students Association imele ukuvuselelwa kwamasiko nezithethe zendlu emnyama iphela. Ikwamele nokuvuselela, ukuphuhlisa ulwimi lwesiXhosa. Ikwamele ukugcinwa kwenkcubeko, nelifa le Afrika jikelele. Kwaye, igxininisa kakhulu kumanyano lwezizwe zendlu emnyama, 
                        kuba ikholelwa ukuba ubunye ngamandla, ngoko ke alinazinjongo zakucalula ezinye izizwe.
                </p>

                <p class="px-5">
                    <span style="font-weight: bolder"><strong>Umbono</strong></span>
                    weliQumrhu kukuxhobisa abafundi ngolwazi malunga nokubuyiselwa kwamaAfrika kwiindlela zaseMbo, kwakunye nokukhuthaza ukuzingca ngeelwimi zabo, ngelifa, nangeengcambu zabo ngelixa besakha iibhulorho phakathi kweenkcubeko ezahlukeneyo.
                </p>

                <a class="mb-5 px-5" style="border-radius: 12px;">
                    Learn More About XSA
                </a>

            </div>

    </div>

</div>

<div id="team" class="team section mt-3" style="margin-bottom: 50px;margin-top:50px;">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2 class="h2_ text-center" style="text-align:center;">Team</h2>
        <p><span class="caveat-xsa">Our Inspired</span> <span class="description-title">Team</span></p>
    </div><!-- End Section Title -->

    <div class="container" style="margin-bottom: 50px;margin-top:50px;">


        <div class="row" >

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/images/about/AC.webp" style="width:100%;" class="img-fluid img-responsive" />
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4 class="mt-3">Anothando Citha</h4>

                        <a class="mt-3 mb-3">Events Coordinator- Sub Comm</a>
                        <p class="mt-3" style="text-align:justify;">                    
                            Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture.
                        </p>

                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/images/about/NK.webp" style="width:100%;" class="img-fluid img-responsive" />
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4 class="mt-3">Nhlonipho Kufa</h4>

                        <a class="mt-3 mb-3">Academic Officer- Sub-Comm</a>
                        <p class="mt-3" style="text-align:justify;">                    
                            As a proud Xhosa individual, i am passionate about promoting cultural diversity and preservation. 
                        </p>

                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/images/about/ND.webp" style="width:100%;" class="img-fluid img-responsive" />
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        
                        <h4 class="mt-3">Ntsika Dliso</h4>

                        <a class="mt-3 mb-3">Social Support Sub-Comm</a>
                        <p class="mt-3" style="text-align:justify;">                    
                            Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                        </p>

                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member">
                    <div class="member-img">
                        <img src="~/images/about/PL.webp" style="width:100%;" class="img-fluid img-responsive" />
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                    
                    <h4 class="mt-3">Phucuka Langa</h4>

                        <a  class="mt-3 mb-3">Cultural Affairs officer - Sub-Comm</a>
                        <p  class="mt-3" style="text-align:justify;">                    
                            Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                        </p>

                    </div>
                </div>
            </div><!-- End Team Member -->

        </div>

    </div>

</div><!-- /Team Section -->


@*
<div class="container mt-5 mb-5" style="margin-bottom: 50px;margin-top:50px;">
    <div class="row d-flex flex-row justify-content-center" style="margin-bottom: 50px;margin-top:50px;">

        <div class="col-sm-6">
            <img src="~/images/about/aboutxsa.webp" width="100%" class="img-responsive" />
        </div>

        <div class="col-sm-6 align-self-center">

            <h2 class="mb-5">About US</h3>
            <h4>LEARN MORE ABOUT WHAT WE DO</h4>

            <p>
                <span style="font-weight: bolder"><strong>Injongo</strong></span> Xhosa Students Association imele ukuvuselelwa kwamasiko nezithethe zendlu emnyama iphela. Ikwamele nokuvuselela, ukuphuhlisa ulwimi lwesiXhosa. Ikwamele ukugcinwa kwenkcubeko, nelifa le Afrika jikelele. Kwaye, igxininisa kakhulu kumanyano lwezizwe zendlu emnyama, 
                    kuba ikholelwa ukuba ubunye ngamandla, ngoko ke alinazinjongo zakucalula ezinye izizwe.
            </p>

            <p>
                <span style="font-weight: bolder"><strong>Umbono</strong></span>
                 weliQumrhu kukuxhobisa abafundi ngolwazi malunga nokubuyiselwa kwamaAfrika kwiindlela zaseMbo, kwakunye nokukhuthaza ukuzingca ngeelwimi zabo, ngelifa, nangeengcambu zabo ngelixa besakha iibhulorho phakathi kweenkcubeko ezahlukeneyo.
            </p>

            <button class="btn btn-lg btn-outline-warning mb-5" style="border-radius: 12px;">
                Learn More About XSA
            </button>

        </div>

    </div>

    <div class="row d-flex flex-row justify-content-center">
        <h3 style="border-bottom: 1px lightgrey solid;padding-bottom: 20px;" class="mb-5 mt-5">XSA Governing Structures</h3>

        <div class="col-sm-12 col-md-3 col-lg-3">
            
            <img src="~/images/about/AC.webp" style="width:100%;" class="img-responsive" />
            
            <h4 class="mt-3">Anothando Citha</h4>

            <a class="mt-3 mb-3">Events Coordinator- Sub Comm</a>
            <p class="mt-3" style="text-align:justify;">                    
                Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. As an event coordinator sub- committee and XSA member, his commitment to cultural heritage drives him to create experiences with the help of the executive that not only celebrate identity but also foster community engagement, ensuring that the values and customs of the Xhosa people are honoured and shared with pride.
            </p>
            <ul class="list-inline text-center">
                <li class="list-inline-item">F</li>
                <li class="list-inline-item">X</li>
                <li class="list-inline-item">T</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <img src="~/images/about/NK.webp" style="width:100%;" class="img-responsive" />
            <h4 class="mt-3">Nhlonipho Kufa</h4>

            <a class="mt-3 mb-3">Academic Officer- Sub-Comm</a>
            <p class="mt-3" style="text-align:justify;">                    
                As a proud Xhosa individual, i am passionate about promoting cultural diversity and preservation. In my role as a Cultural Officer Sub-committee member,i am committed to fostering student engagement, language preservation and a deeper appreciation of our rich cultural heritage.
            </p>
            <ul class="list-inline text-center">
                <li class="list-inline-item">F</li>
                <li class="list-inline-item">X</li>
                <li class="list-inline-item">T</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <img src="~/images/about/ND.webp" style="width:100%;" class="img-responsive" />
            <h4 class="mt-3">Ntsika Dliso</h4>

            <a class="mt-3 mb-3">Social Support Sub-Comm</a>
            <p class="mt-3" style="text-align:justify;">                    
                Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. As an event coordinator sub- committee and XSA member, his commitment to cultural heritage drives him to create experiences with the help of the executive that not only celebrate identity but also foster community engagement, ensuring that the values and customs of the Xhosa people are honoured and shared with pride.
            </p>
            <ul class="list-inline text-center">
                <li class="list-inline-item">F</li>
                <li class="list-inline-item">X</li>
                <li class="list-inline-item">T</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <img src="~/images/about/PL.webp" style="width:100%;" class="img-responsive" />
            <h4 class="mt-3">Phucuka Langa</h4>

            <a  class="mt-3 mb-3">Cultural Affairs officer - Sub-Comm</a>
            <p  class="mt-3" style="text-align:justify;">                    
                Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. As an event coordinator sub- committee and XSA member, his commitment to cultural heritage drives him to create experiences with the help of the executive that not only celebrate identity but also foster community engagement, ensuring that the values and customs of the Xhosa people are honoured and shared with pride.
            </p>
            <ul class="list-inline text-center">
                <li class="list-inline-item">F</li>
                <li class="list-inline-item">X</li>
                <li class="list-inline-item">T</li>
            </ul>
        </div>      
    
    </div>

</div>
*@
