@{
    ViewData["Title"] = "About Us";
}

<style>

    h1,h3,h4,h5,h6{
        color: black !important;
    }
    p{
          color: black !important;
    }

    .h2_{
      font-size: 36px;
      font-weight: 700px;
      color: grey;
      font-style: verdana;
    }

</style>


<div class="container-fluid" id="about" data-aos="fade-up" style="width:100% !important;background-color:#fafafa;padding: 40px;">
    <h2 class="h2_ text-center" style="text-align:center;">About Us</h2>        
</div><!-- End Section Title -->


<div class="container">
      <div class="row gy-4 d-flex flex-row justify-content-center mt-5 mb-5">

            <div class="col-sm-6">
                <div style="border-radius:5px;" class="">
                    <img src="~/images/about/aboutxsa.webp" style="max-height: 500px;width:100%;border-radius:15px;" class="img-responsive" />
                </div>
            </div>

            <div class="col-sm-6 team" >

                <div class="section-title" data-aos="fade-up">
                   
                    <!-- <p  class="mb-5 px-5 h2" style="text-align:left !important;margin-left: 0 !important;">About US</p> -->
                    <h4 class="mb-2 px-5" style="text-align:left !important;">WHO WE ARE</h4>

                </div>

                <p class="px-5">
                    <span style="font-weight: bolder"><strong>Injongo</strong></span> Xhosa Students Association imele ukuvuselelwa kwamasiko nezithethe zendlu emnyama iphela. Ikwamele nokuvuselela, ukuphuhlisa ulwimi lwesiXhosa. Ikwamele ukugcinwa kwenkcubeko, nelifa le Afrika jikelele. Kwaye, igxininisa kakhulu kumanyano lwezizwe zendlu emnyama, 
                        kuba ikholelwa ukuba ubunye ngamandla, ngoko ke alinazinjongo zakucalula ezinye izizwe.
                </p>

                <p class="px-5">
                    <span style="font-weight: bolder"><strong>Umbono</strong></span>
                    weliQumrhu kukuxhobisa abafundi ngolwazi malunga nokubuyiselwa kwamaAfrika kwiindlela zaseMbo, kwakunye nokukhuthaza ukuzingca ngeelwimi zabo, ngelifa, nangeengcambu zabo ngelixa besakha iibhulorho phakathi kweenkcubeko ezahlukeneyo.
                </p>

                <div class="px-5 mb-5">
                    <a class="btn btn-danger" style="border-radius: 18px;text-decoration:none;" href="https://www.tiktok.com/@@xhosa.students.as" target="_blank"> Learn More About XSA <i class="bi bi-box-arrow-up-right"></i></a>
                </div>

            </div>

    </div>

</div>
