@{
    ViewData["Title"] = "Our Blog";
}

 <div class="container" >
    <div class="row" style="top:60px">
        <p id="blog" ></p>
    </div>
 </div>

<div id="blog" style="top:50px;" style="min-height:600px;" class="text-center">
    <h3>Xhosa Student Association</h3>
</div>

