@{
    ViewData["Title"] = "Contact";
}

<style>
    .h2_{
      font-size: 36px;
      font-weight: 700px;
      color: grey;
      font-style: verdana;
    }
</style>

<!-- Contact Section -->
<section class="contact section" id="contact">

    <div class="container-fluid" data-aos="fade-up" style="width:100% !important;background-color:#fafafa;padding: 40px;">
        <h2 class="h2_ text-center" style="text-align:center;">Get in Touch</h2>        
    </div><!-- End Section Title -->
    <!-- Section Title -->
   
    <div class="container mt-5 mb-5" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            
            <div class="col-lg-6">
                <div class="row ">

                    <div class="col-lg-12 gy-4">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Address</h3>
                            <p>University of the free state (UFS), Nelson Mandela Rd, Universitas</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6 py-4">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-telephone"></i>
                            <h3>Call Us</h3>
                            <p>+27 (0)63 891 2268</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-md-6 py-4">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-envelope"></i>
                            <h3>Email Us</h3>
                            <p class="small">info@xsa-ufs.co.za</p>
                        </div>
                    </div><!-- End Info Item -->

                </div>
            </div>

            <div class="col-lg-6 ">
                <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="500">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="message" rows="4" placeholder="Message" required=""></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <button type="submit">Send Message</button>
                        </div>

                    </div>
                </form>
            </div><!-- End Contact Form -->

        </div>

    </div>

      <div class="ed-element ed-container footer preset-footer-tyr-v2-priodas" id="ed-445604190">
      <div class="inner" >
        <div class="ed-element ed-map footer-hel-map" style="
    color: tomato;
" id="ed-445604193">
          <div class="map-canvas" style="position: relative; overflow: hidden;"
            data-parameters="{&quot;markers&quot;:[{&quot;query&quot;:&quot;University of the free state&quot;,&quot;open&quot;:false,&quot;title&quot;:&quot;Priodas&quot;,&quot;description&quot;:&quot;&quot;,&quot;info&quot;:false,&quot;icon&quot;:false,&quot;lat&quot;:-29.1075973,&quot;lng&quot;:26.1924506}],&quot;center&quot;:{&quot;query&quot;:&quot;University f the free state&quot;,&quot;lat&quot;:-29.1075973,&quot;lng&quot;:26.1924506,&quot;markers&quot;:false},&quot;zoom&quot;:13,&quot;type&quot;:&quot;roadmap&quot;,&quot;style&quot;:{&quot;name&quot;:&quot;default&quot;,&quot;configuration&quot;:null,&quot;color&quot;:&quot;#999999&quot;},&quot;controls&quot;:{&quot;zoom&quot;:true,&quot;mousewheel&quot;:false,&quot;scale&quot;:false}}">
          </div>
        </div>

</section><!-- /Contact Section -->

