
@{
    ViewData["Title"] = "Our Events";
    Layout = "_EventsLayout";
}        

<div class="ed-element ed-container banner preset-banner-v3-priodas wv-overflow_hidden parallax" id="ed-445604262">
    <div id="events" class="background">
        <div class="ed-element ed-image wv-bg" id="ed-445604265">
            <div class="background-image-holder ed-lazyload"
               
                style="background-image: url(&quot;/assets2/images/1920_1024x1536_511_0/11862335/WhatsAppImage2024-11-09at13.30.584.jpeg&quot;);">
            </div>
        </div>
    </div>
    <div class="inner" data-parallax-amount="40">
        <div class="ed-element ed-container banner-content" id="ed-445604268">
            <div class="inner" data-parallax-amount="40">
                <div class="ed-element ed-container full-width animation-initial"
                    style="--spacer-height:102px; background-color: rgba(255, 255, 255, 0.85);"
                    id="ed-445604271"
                    data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.4s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;onload&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
                    <div class="inner">
                        <div class="ed-element ed-container border-color-primary wv-overflow_visible"
                            id="ed-445604274">
                            <div class="inner">
                                <div class="ed-element ed-text custom-theme h1" id="ed-445604277">
                                    <p><span style="color: rgb(206, 22, 22);">Imibhiyozo ka 2024</span></p>
                                </div>
                                <div class="ed-element ed-spacer" id="ed-445604280">
                                    <div class="space"></div>
                                </div>
                                <div class="ed-element ed-button scroll custom-theme right" id="ed-445604283"><a
                                        class="button button-default button-color-default center wv-link-elm"
                                        href="/8895802#ed-445604013" style="/* border-radius: 0;">Learn more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ed-element ed-icon banner-arrow" id="ed-445604286"><a href="#!next"
                        class="wv-link-elm"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -288 320 170"
                            data-icon="ion-ion-ios-arrow-down" preserveAspectRatio="xMidYMid"
                            style="width: 30px; height: 30px;">
                            <path d="M301 -288l19 21l-160 171l-160 -171l19 -21l141 150z"></path>
                        </svg></a></div>
            </div>
        </div>
    </div>
</div>
<div class="ed-element ed-image" id="ed-445604292"><img
        src="~/assets2~/assets2/images/1536/11862293/WhatsAppImage2024-11-09at13.30.594.jpeg" alt=""
        srcset="~/assets2/images/576/11862293/WhatsAppImage2024-11-09at13.30.594.jpeg 576w, ~/assets2/images/976/11862293/WhatsAppImage2024-11-09at13.30.594.jpeg 976w, ~/assets2/images/1536/11862293/WhatsAppImage2024-11-09at13.30.594.jpeg 1536w">
</div>
<div class="ed-element ed-image" id="ed-445604289"><img
        src="~/assets2/images/1536/11862551/WhatsAppImage2024-11-09at13.30.587.jpeg" alt=""
        srcset="~/assets2/images/576/11862551/WhatsAppImage2024-11-09at13.30.587.jpeg 576w, ~/assets2/images/976/11862551/WhatsAppImage2024-11-09at13.30.587.jpeg 976w, ~/assets2/images/1536/11862551/WhatsAppImage2024-11-09at13.30.587.jpeg 1536w">
</div>
<div class="ed-element ed-container wv-overflow_hidden preset-columns-three-v2-priodas" id="ed-445604013">
    <div class="inner" data-parallax-amount="40" id="our-services">
        <div class="ed-element ed-container columns-box full-width parallax animation-initial" id="ed-445604016"
            data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
            <div class="background">
                <div class="ed-element ed-image wv-bg" id="ed-445604031">
                    <div class="background-image-holder ed-lazyload"
                        data-background="url(&quot;~/assets2/images/1536/11862767/WhatsAppImage2024-11-09at13.30.597.jpeg&quot;)"
                        style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width='1536'%20viewBox='0%200%201536%202048'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='1536'%20height='2048'%20style='fill:%20%23F7F7F7'%20/%3E%3C/svg%3E&quot;);">
                    </div>
                </div>
            </div>
            <div class="overlay"
                style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);"></div>
            <div class="inner" data-parallax-amount="40">
                <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604019">
                    <div class="inner">
                        <div class="ed-element ed-headline custom-theme" id="ed-445604022">
                            <h6 class="h3 font-default"><span class="color-background">Recruitment drive</span>
                            </h6>
                        </div>
                        <div class="ed-element ed-spacer" id="ed-445604025">
                            <div class="space"></div>
                        </div>
                        <div class="ed-element ed-button custom-theme right" id="ed-445604028"><a
                                class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                                href="/8895802#ed-445604118">Learn more</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ed-element ed-container columns-box full-width animation-initial parallax" id="ed-445604034"
            data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.2s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
            <div class="background">
                <div class="ed-element ed-video wv-bg" id="ed-445604295"><video width="100%" playsinline=""
                        autoplay="autoplay" loop="loop" muted="">
                        <source type="video/mp4"
                            src="~/assets2/images/0/11863234/WhatsAppVideo2024-11-09at13.30.594.mp4">
                    </video></div>
            </div>
            <div class="overlay"
                style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, transparent 100%);"></div>
            <div class="inner" data-parallax-amount="40">
                <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604037">
                    <div class="inner">
                        <div class="ed-element ed-headline custom-theme" id="ed-445604040">
                            <h2 class="h3 font-default"><span class="color-background">Opening Function</span>
                            </h2>
                        </div>
                        <div class="ed-element ed-spacer" id="ed-445604043">
                            <div class="space"></div>
                        </div>
                        <div class="ed-element ed-button custom-theme right" id="ed-445604046"><a
                                class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                                href="/8895802#ed-445159666">Learn more</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ed-element ed-container columns-box full-width animation-initial parallax" id="ed-445604049"
            data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.4s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
            <div class="background">
                <div class="ed-element ed-image wv-bg" id="ed-445604052">
                    <div class="background-image-holder ed-lazyload"
                        data-background="url(&quot;~/assets2/images/960/11862652/WhatsAppImage2024-11-09at14.34.12.jpeg&quot;)"
                        style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width='960'%20viewBox='0%200%20960%201280'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='960'%20height='1280'%20style='fill:%20%23F7F7F7'%20/%3E%3C/svg%3E&quot;);">
                    </div>
                </div>
            </div>
            <div class="overlay"
                style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);"></div>
            <div class="inner" data-parallax-amount="40">
                <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604055">
                    <div class="inner">
                        <div class="ed-element ed-headline custom-theme" id="ed-445604058">
                            <h2 class="h3 font-default"><span class="color-background">Ancestors Day</span></h2>
                        </div>
                        <div class="ed-element ed-spacer" id="ed-445604061">
                            <div class="space"></div>
                        </div>
                        <div class="ed-element ed-button custom-theme right" id="ed-445604064"><a
                                class="button center color-background bg-secondary bg-active-background color-active-secondary wv-link-elm"
                                href="/8895802#ed-445159666">Learn more</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ed-element ed-container columns-box full-width parallax animation-initial" id="ed-445604067"
            data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
            <div class="background">
                <div class="ed-element ed-video wv-bg" id="ed-445604355"><video width="100%" playsinline=""
                        autoplay="autoplay" loop="loop" muted="">
                        <source type="video/mp4" src="~/assets2/images/0/11866610/WhatsAppVideo2024-11-09at19.46.22.mp4">
                    </video></div>
            </div>
            <div class="overlay"
                style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);"></div>
            <div class="inner" data-parallax-amount="40">
                <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604070">
                    <div class="inner">
                        <div class="ed-element ed-headline custom-theme" id="ed-445604073">
                            <h2 class="h3 font-default"><span class="color-background">Sports Day</span></h2>
                        </div>
                        <div class="ed-element ed-spacer" id="ed-445604076">
                            <div class="space"></div>
                        </div>
                        <div class="ed-element ed-button custom-theme right" id="ed-445604079"><a
                                class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                                href="/8895802#ed-445604118">Learn more</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ed-element ed-container columns-box full-width parallax animation-initial" id="ed-445604082"
            data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.2s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
            <div class="background">
                <div class="ed-element ed-image wv-bg" id="ed-445604085">
                    <div class="background-image-holder ed-lazyload"
                        data-background="url(&quot;~/assets2/images/1920/11862992/WhatsAppImage2024-11-09at15.03.281.jpeg&quot;)"
                        style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width='1920'%20viewBox='0%200%201920%202560'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='1920'%20height='2560'%20style='fill:%20%23F7F7F7'%20/%3E%3C/svg%3E&quot;);">
                    </div>
                </div>
            </div>
            <div class="overlay"
                style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);"></div>
            <div class="inner" data-parallax-amount="40">
                <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604088">
                    <div class="inner">
                        <div class="ed-element ed-headline custom-theme" id="ed-445604091">
                            <h2 class="h3 font-default"><span class="color-background">Mandela Day</span></h2>
                        </div>
                        <div class="ed-element ed-spacer" id="ed-445604094">
                            <div class="space"></div>
                        </div>
                        <div class="ed-element ed-button custom-theme right" id="ed-445604097"><a
                                class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                                href="/8895802#ed-445604160">Learn more</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ed-element ed-container columns-box full-width parallax animation-initial" id="ed-445604100"
            data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.4s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
            <div class="background">
                <div class="ed-element ed-image wv-bg" id="ed-445604103">
                    <div class="background-image-holder ed-lazyload"
                        data-background="url(&quot;~/assets2/images/1536_1536x1225_0_411/11863002/WhatsAppImage2024-11-09at13.30.5810.jpeg&quot;)"
                        style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width='1536'%20viewBox='0%200%201536%201225.967213114754'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='1536'%20height='1225.967213114754'%20style='fill:%20%23F7F7F7'%20/%3E%3C/svg%3E&quot;);">
                    </div>
                </div>
            </div>
            <div class="overlay"
                style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);"></div>
            <div class="inner" data-parallax-amount="40">
                <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604106">
                    <div class="inner">
                        <div class="ed-element ed-headline custom-theme" id="ed-445604109">
                            <h2 class="h3 font-default"><span class="color-background">IsiXhosa Spelling
                                    Bee</span></h2>
                        </div>
                        <div class="ed-element ed-spacer" id="ed-445604112">
                            <div class="space"></div>
                        </div>
                        <div class="ed-element ed-button custom-theme right" id="ed-445604115"><a
                                class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                                href="/8895802#ed-445604160">Learn more</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ed-element ed-container columns-box full-width parallax animation-initial" id="ed-445604298"
            data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.4s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
            <div class="background">
                <div class="ed-element ed-image wv-bg" id="ed-445604301">
                    <div class="background-image-holder ed-lazyload"
                        data-background="url(&quot;~/assets2/images/1920_1925x1536_61_0/11863013/WhatsAppImage2024-11-09at13.30.588.jpeg&quot;)"
                        style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width='1920'%20viewBox='0%200%201920%201531.25'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='1920'%20height='1531.25'%20style='fill:%20%23F7F7F7'%20/%3E%3C/svg%3E&quot;);">
                    </div>
                </div>
            </div>
            <div class="overlay"
                style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);"></div>
            <div class="inner" data-parallax-amount="40">
                <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604304">
                    <div class="inner">
                        <div class="ed-element ed-headline custom-theme" id="ed-445604307">
                            <h2 class="h3 font-default"><span class="color-background">Lobola
                                    Negotiations</span></h2>
                        </div>
                        <div class="ed-element ed-spacer" id="ed-445604310">
                            <div class="space"></div>
                        </div>
                        <div class="ed-element ed-button custom-theme right" id="ed-445604313"><a
                                class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                                href="/8895802#ed-445604160">Learn more</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ed-element ed-container columns-box full-width parallax animation-initial" id="ed-445604316"
            data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.4s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
            <div class="background">
                <div class="ed-element ed-video wv-bg" id="ed-445604358"><video width="100%" playsinline=""
                        autoplay="autoplay" loop="loop" muted="">
                        <source type="video/mp4" src="~/assets2/images/0/11866652/WhatsAppVideo2024-11-09at15.50.13.mp4">
                    </video></div>
            </div>
            <div class="overlay"
                style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);"></div>
            <div class="inner" data-parallax-amount="40">
                <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604319">
                    <div class="inner">
                        <div class="ed-element ed-headline custom-theme" id="ed-445604322">
                            <h2 class="h3 font-default"><span class="color-background">Amabhaso</span></h2>
                        </div>
                        <div class="ed-element ed-spacer" id="ed-445604325">
                            <div class="space"></div>
                        </div>
                        <div class="ed-element ed-button custom-theme right" id="ed-445604328"><a
                                class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                                href="/8895802#ed-445604160">Learn more</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ed-element ed-container columns-box full-width parallax animation-initial" id="ed-445604331"
            data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.4s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
            <div class="background">
                <div class="ed-element ed-video wv-bg" id="ed-445604334"><video width="100%" playsinline=""
                        autoplay="autoplay" loop="loop" muted="">
                        <source type="video/mp4"
                            src="~/assets2/images/0/11863147/WhatsAppVideo2024-11-09at13.30.596.mp4">
                    </video></div>
            </div>
            <div class="overlay"
                style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);"></div>
            <div class="inner" data-parallax-amount="40">
                <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604337">
                    <div class="inner">
                        <div class="ed-element ed-headline custom-theme" id="ed-445604340">
                            <h2 class="h3 font-default"><span class="color-background">Campus Wedding</span>
                            </h2>
                        </div>
                        <div class="ed-element ed-spacer" id="ed-445604343">
                            <div class="space"></div>
                        </div>
                        <div class="ed-element ed-button custom-theme right" id="ed-445604346"><a
                                class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                                href="/8895802#ed-445604160">Learn more</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ed-element ed-container full-width wv-boxed wv-spacer parallax preset-callout-v2-priodas"
    id="ed-445604244">
    <div class="background">
        <div class="ed-element ed-video wv-bg" id="ed-445604349"><video width="100%" playsinline=""
                autoplay="autoplay" loop="loop" muted="">
                <source type="video/mp4" src="~/assets2/images/0/11864782/WhatsAppVideo2024-11-09at17.45.04.mp4">
            </video></div>
    </div>
    <div class="overlay" style="background-color: rgba(0, 0, 0, 0.2);"></div>
    <div class="inner" data-parallax-amount="40">
        <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604247">
            <div class="inner">
                <div class="ed-element ed-headline custom-theme animation-initial" id="ed-445604250"
                    data-animation="{&quot;type&quot;:&quot;move-bottom-to-top&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.8s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
                    <h3 class="h1"><span class="color-primary">International Cultural &nbsp;</span></h3>
                </div>
                <div class="ed-element ed-headline custom-theme animation-initial" id="ed-445604253"
                    data-animation="{&quot;type&quot;:&quot;move-bottom-to-top&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.9s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
                    <h3 class="h2"><span class="color-secondary">Diversity Festival</span></h3>
                </div>
                <div class="ed-element ed-spacer" id="ed-445604256">
                    <div class="space"></div>
                </div>
                <div class="ed-element ed-spacer" id="ed-445604259">
                    <div class="space"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ed-element ed-container wv-overflow_hidden preset-text-with-image-v2-priodas wv-boxed wv-spacer"
    id="ed-445604118">
    <div class="inner" id="stationery">
        <div class="ed-element ed-container flex-justify-content-center flex-align-items-center flex-align-content-center text-with-image-box wv-overflow_visible animation-initial"
            style="opacity: 1;" id="ed-445604121"
            data-animation="{&quot;type&quot;:&quot;move-bottom-to-top&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.5s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
            <div class="inner">
                <div class="ed-element ed-headline custom-theme" id="ed-445604124">
                    <h4><span style="color: rgb(206, 22, 22);">Free State Language Festival</span></h4>
                </div>
                <div class="ed-element ed-spacer" id="ed-445604127">
                    <div class="space"></div>
                </div>
                <div class="ed-element ed-text custom-theme" id="ed-445604130">
                    <p>Lusanda Nozizwe Madikane, Chairperson of XSA, proudly represented the isiXhosa language
                        at the Free State Language Festival. The event showcased talented primary school
                        learners from the Free State, highlighting their reading, storytelling, comprehension,
                        and spelling abilities. Participants engaged enthusiastically, competing for prizes that
                        celebrated their linguistic skills. This festival served as an important platform for
                        indigenous language advocacy, fostering appreciation and awareness among the youth.
                        Through these efforts, the preservation and promotion of isiXhosa continue to flourish
                        in the community.</p>
                </div>
            </div>
        </div>
        <div class="ed-element ed-image text-with-image-image" style="/* text-align: center; */" id="ed-445604133"><img
               
                alt="" src="~/assets2/images/0/11865121/WhatsAppImage2024-11-09at16.25.13.jpeg"
                class="" style="object-fit: cover;"></div>
    </div>
</div>
<div class="ed-element ed-container preset-fullscreen-text-and-background-v2-floristic-priodas"
    id="ed-445604136">
    <div class="inner" id="floristic">
        <div class="ed-element ed-container text-and-background-content flex-align-items-center flex-align-content-center wv-boxed wv-overflow_visible"
            id="ed-445604139">
            <div class="inner">
                <div class="ed-element ed-headline custom-theme" id="ed-445604142">
                    <h2>XSA executive joins Wits, UP Xhosa society event.</h2>
                </div>
                <div class="ed-element ed-spacer" id="ed-445604145">
                    <div class="space"></div>
                </div>
                <div class="ed-element ed-spacer" id="ed-445604148">
                    <div class="space"></div>
                </div>
                <div class="ed-element ed-container preset-gallery-v3-priodas animation-initial"
                    style="opacity: 1;" id="ed-445604151"
                    data-animation="{&quot;type&quot;:&quot;move-bottom-to-top&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.4s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
                    <div class="inner">
                        <div class="ed-element ed-gallery noshadow border-none" id="ed-445604154">
                            <ul class="ed-gallery-items v2" style="margin: 0px;"
                                data-parameters="{&quot;items&quot;:[{&quot;image&quot;:&quot;~/assets2/images/0/11865446/WhatsAppImage2024-11-09at18.22.54.jpeg&quot;,&quot;title&quot;:&quot;&quot;},{&quot;image&quot;:&quot;~/assets2/images/0/11865440/WhatsAppImage2024-11-09at18.24.24.jpeg&quot;,&quot;title&quot;:&quot;&quot;},{&quot;image&quot;:&quot;~/assets2/images/0/11865455/WhatsAppImage2024-11-09at18.21.20.jpeg&quot;,&quot;title&quot;:&quot;&quot;},{&quot;image&quot;:&quot;~/assets2/images/0/11865509/WhatsAppImage2024-11-09at18.29.28.jpeg&quot;,&quot;title&quot;:&quot;&quot;},{&quot;image&quot;:&quot;~/assets2/images/0/11865512/WhatsAppImage2024-11-09at18.27.52.jpeg&quot;,&quot;title&quot;:&quot;&quot;},{&quot;image&quot;:&quot;~/assets2/images/0/11865515/WhatsAppImage2024-11-09at18.27.51.jpeg&quot;,&quot;title&quot;:&quot;&quot;}],&quot;size&quot;:&quot;800px&quot;,&quot;ratio&quot;:1,&quot;horizontal&quot;:&quot;0px&quot;,&quot;vertical&quot;:&quot;0px&quot;,&quot;enlarge&quot;:true}">
                                <li id="ed-gallery-item_11865446" class="ed-gallery-thumb"
                                    style="width: 800px; padding: 0px;"><a
                                        href="~/assets2/images/766/11865446/WhatsAppImage2024-11-09at18.22.54.jpeg"
                                        target="_blank" title="">
                                        <img
                                            
                                            alt=""
                                            
                                            src="~/assets2/images/800x800/11865446/WhatsAppImage2024-11-09at18.22.54.jpeg"
                                            class="ed-lazyload lazyload"
                                            >
                                        </a>
                                </li>
                                <li id="ed-gallery-item_11865440" class="ed-gallery-thumb"
                                    style="width: 800px; padding: 0px;"><a
                                        href="~/assets2/images/900/11865440/WhatsAppImage2024-11-09at18.24.24.jpeg"
                                        target="_blank" title=""><img
                                            
                                            alt=""
                                           
                                           src="~/assets2/images/800x800/11865440/WhatsAppImage2024-11-09at18.24.24.jpeg"
                                            class="ed-lazyload lazyload"
                                            ></a>
                                </li>
                                <li id="ed-gallery-item_11865455" class="ed-gallery-thumb"
                                    style="width: 800px; padding: 0px;"><a
                                        href="~/assets2/images/900/11865455/WhatsAppImage2024-11-09at18.21.20.jpeg"
                                        target="_blank" title=""><img
                                            src="~/assets2/images/900/11865455/WhatsAppImage2024-11-09at18.21.20.jpeg"
                                            alt=""                                           
                                            
                                            class="ed-lazyload lazyload"
                                            ></a>
                                </li>
                                <li id="ed-gallery-item_11865509" class="ed-gallery-thumb"
                                    style="width: 800px; padding: 0px;"><a
                                        href="~/assets2/images/900/11865509/WhatsAppImage2024-11-09at18.29.28.jpeg"
                                        target="_blank" title=""><img
                                            
                                            alt=""
                                            
                                            src="~/assets2/images/800x800/11865509/WhatsAppImage2024-11-09at18.29.28.jpeg"
                                            class="ed-lazyload lazyload"
                                            ></a>
                                </li>
                                <li id="ed-gallery-item_11865512" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                                    href="~/assets2/images/900/11865512/WhatsAppImage2024-11-09at18.27.52.jpeg" target="_blank" title=""><img
                                    
                                    alt=""
                                    
                                    src="~/assets2/images/800x800/11865512/WhatsAppImage2024-11-09at18.27.52.jpeg"
                                    class=""
                                    ></a>
                                </li>
                                <li id="ed-gallery-item_11865515" class="ed-gallery-thumb"
                                    style="width: 800px; padding: 0px;"><a
                                        href="~/assets2/images/900/11865515/WhatsAppImage2024-11-09at18.27.51.jpeg"
                                        target="_blank" title=""><img
                                            
                                            alt=""
                                            
                                            src="~/assets2/images/800x800/11865515/WhatsAppImage2024-11-09at18.27.51.jpeg"
                                            class="ed-lazyload lazyload"
                                            ></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ed-element ed-container full-width text-and-background-background wv-overflow_visible parallax"
            id="ed-445604157">
            <div class="background">
                <div class="ed-element ed-video wv-bg" id="ed-445604352"><video width="100%" playsinline=""
                        muted="" autoplay="autoplay">
                        <source type="video/mp4" src="~/assets2/images/0/11865767/WhatsAppVideo2024-11-09at18.48.52.mp4">
                    </video></div>
            </div>
            <div class="inner" data-parallax-amount="40">&nbsp;</div>
        </div>
    </div>
</div>

<div class="container" id="ed-445604172">
    <ul class="row list-group-horizontal list-unstyled mt-3">
       
        <li id="list-group-item" class=" col-sm-12 col-md-3 col-lg-3"
            ><a
                href="~/assets2/images/900/11866385/WhatsAppImage2024-11-09at19.26.52.jpeg"
                target="_blank" title=""><img
                    
                    alt=""
                        style="width: 100%; height:350px; padding: 0px;"
                    src="~/assets2/images/900/11866385/WhatsAppImage2024-11-09at19.26.52.jpeg"
                    class="ed-lazyload"
                    ></a>
        </li>
        <li id="list-group-item" class=" col-sm-12 col-md-3 col-lg-3"
            ><a
                href="~/assets2/images/900/11865959/WhatsAppImage2024-11-09at14.34.132.jpeg"
                target="_blank" title=""><img
                    
                    alt=""
                        style="width: 100%; height:350px; padding: 0px;"
                    src="~/assets2/images/900/11865959/WhatsAppImage2024-11-09at14.34.132.jpeg"
                    class="ed-lazyload"
                    ></a>
        </li>
        <li id="list-group-item" class=" col-sm-12 col-md-3 col-lg-3"
            ><a
                href="~/assets2/images/900/11866040/WhatsAppImage2024-11-09at19.11.375.jpeg"
                target="_blank" title=""><img
                    
                    alt=""
                        style="width: 100%; height:350px; padding: 0px;"
                    src="~/assets2/images/900/11866040/WhatsAppImage2024-11-09at19.11.375.jpeg"
                    class="ed-lazyload"
                    ></a>
        </li>
        <li id="list-group-item" class=" col-sm-12 col-md-3 col-lg-3"
            ><a
                href="~/assets2/images/900/11866010/WhatsAppImage2024-11-09at19.11.362.jpeg"
                target="_blank" title=""><img
                        style="width: 100%;height:350px; padding: 0px;"
                    alt=""
                    
                    src="~/assets2/images/800x800/11866010/WhatsAppImage2024-11-09at19.11.362.jpeg"
                    class=""
                    ></a>
        </li>
        
    </ul>
</div>     

<div id="" class="testimonials section dark-background mt-0" style="rgba(0,0,0,.3)">
  
  <!-- <img src="" style="rgba" class="testimonials-bg card-image" alt=""> -->

  <div class="container" data-aos="fade-up" data-aos-delay="100" >

      <div class="testimonial-item">
        <!-- <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""> -->

        <h3>Stay Tuned</h3>
        <div class="stars">
          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </div>
        <p>
          <i class="bi bi-quote quote-icon-left"></i>
          <span>
            <h3>Check Our Social Media Pages for more Live/Updated Events and Content</h3>
          </span>
          <i class="bi bi-quote quote-icon-right"></i>
        </p>
      </div>
       
  </div>

</div><!-- /Testimonials Section -->

<div class="ed-element ed-container footer preset-footer-tyr-v2-priodas" id="ed-445604190">
    <div class="inner">
        <div class="ed-element ed-map footer-hel-map" style="color: tomato;" id="ed-445604193">
            <div class="map-canvas" style="position: relative; overflow: hidden;"
                data-parameters="{&quot;markers&quot;:[{&quot;query&quot;:&quot;University of the free state&quot;,&quot;open&quot;:false,&quot;title&quot;:&quot;Priodas&quot;,&quot;description&quot;:&quot;&quot;,&quot;info&quot;:false,&quot;icon&quot;:false,&quot;lat&quot;:-29.1075973,&quot;lng&quot;:26.1924506}],&quot;center&quot;:{&quot;query&quot;:&quot;University f the free state&quot;,&quot;lat&quot;:-29.1075973,&quot;lng&quot;:26.1924506,&quot;markers&quot;:false},&quot;zoom&quot;:13,&quot;type&quot;:&quot;roadmap&quot;,&quot;style&quot;:{&quot;name&quot;:&quot;default&quot;,&quot;configuration&quot;:null,&quot;color&quot;:&quot;#999999&quot;},&quot;controls&quot;:{&quot;zoom&quot;:true,&quot;mousewheel&quot;:false,&quot;scale&quot;:false}}">
            </div>
        </div>
        <div class="ed-element ed-container flex-align-content-center wv-overflow_visible animation-initial preset-social-icons-v2-2nd-socials-priodas hide-lg hide-md"
            id="ed-445604196"
            data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.5s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;onload&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
            <div class="inner">
                <div class="ed-element ed-reference ed-reference-icon social-icons-icon" id="ed-445604199"
                    data-reference="445604229" data-animation="null"><a href="/8895802#ed-445159972"
                        class="wv-link-elm"><svg xmlns="http://www.w3.org/2000/svg" viewBox="8 -448 240 512"
                            data-icon="fa-light-info" preserveAspectRatio="xMidYMid" style="overflow: visible;">
                            <path
                                d="M208 -79.333V-240C208 -255.495 200.62 -269.299 189.189 -278.081C210.442 -295.704 224 -322.299 224 -352C224 -404.935 180.935 -448 128 -448S32 -404.935 32 -352C32 -327.436 41.274 -304.996 56.504 -288H56C29.533 -288 8 -266.467 8 -240V-192C8 -168.258 25.327 -148.486 48 -144.667V-79.334C25.327 -75.514 8 -55.742 8 -32V16C8 42.467 29.533 64 56 64H200C226.467 64 248 42.467 248 16V-32C248 -55.742 230.673 -75.514 208 -79.333zM128 -416C163.346 -416 192 -387.346 192 -352S163.346 -288 128 -288S64 -316.654 64 -352S92.654 -416 128 -416zM216 16C216 24.837 208.837 32 200 32H56C47.163 32 40 24.837 40 16V-32C40 -40.837 47.163 -48 56 -48H80V-176H56C47.163 -176 40 -183.163 40 -192V-240C40 -248.837 47.163 -256 56 -256H160C168.837 -256 176 -248.837 176 -240V-48H200C208.837 -48 216 -40.837 216 -32V16z"
                                style="stroke-width: 0px;"></path>
                        </svg></a></div>
                <div class="ed-element ed-reference ed-reference-icon social-icons-icon" id="ed-445604202"
                    data-reference="445604232" data-animation="null"><a href="https://www.facebook.com/"
                        target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -448 264 512"
                            data-icon="fa-brands-facebook-f" preserveAspectRatio="xMidYMid"
                            style="overflow: visible;">
                            <path
                                d="M76.7 64V-165H0V-256H76.7V-327.7C76.7 -405.6 124.3 -448 193.8 -448C227.1 -448 255.7 -445.5 264 -444.4V-363H215.8C178 -363 170.7 -345 170.7 -318.7V-256H256L244.3 -165H170.7V64">
                            </path>
                        </svg></a></div>
                <div class="ed-element ed-reference ed-reference-icon social-icons-icon" id="ed-445604205"
                    data-reference="445604235" data-animation="null"><a href="https://twitter.com/"
                        target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -399 511 415"
                            data-icon="fa-brands-twitter" preserveAspectRatio="xMidYMid"
                            style="overflow: visible;">
                            <path
                                d="M459.37 -296.284C459.695 -291.736 459.695 -287.187 459.695 -282.639C459.695 -143.919 354.112 15.919 161.137 15.919C101.685 15.919 46.457 -1.3 0 -31.187C8.447 -30.213 16.568 -29.888 25.34 -29.888C74.395 -29.888 119.553 -46.456 155.614 -74.72C109.482 -75.695 70.822 -105.908 57.502 -147.492C64 -146.518 70.497 -145.868 77.32 -145.868C86.741 -145.868 96.163 -147.168 104.934 -149.441C56.853 -159.188 20.791 -201.421 20.791 -252.426V-253.725C34.76 -245.928 51.005 -241.055 68.222 -240.406C39.958 -259.249 21.441 -291.411 21.441 -327.797C21.441 -347.289 26.638 -365.157 35.735 -380.751C87.39 -317.076 165.035 -275.493 252.1 -270.944C250.476 -278.741 249.501 -286.862 249.501 -294.984C249.501 -352.812 296.283 -399.918 354.435 -399.918C384.648 -399.918 411.937 -387.248 431.105 -366.781C454.82 -371.329 477.561 -380.101 497.704 -392.121C489.906 -367.755 473.338 -347.288 451.572 -334.294C472.689 -336.567 493.156 -342.416 511.998 -350.537C497.706 -329.746 479.837 -311.229 459.37 -296.284z">
                            </path>
                        </svg></a></div>
                <div class="ed-element ed-reference ed-reference-icon social-icons-icon" id="ed-445604208"
                    data-reference="445604238" data-animation="null"><a href="https://www.instagram.com/"
                        target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -416 448 448"
                            data-icon="fa-brands-instagram" preserveAspectRatio="xMidYMid"
                            style="overflow: visible;">
                            <path
                                d="M224.1 -307C160.5 -307 109.2 -255.7 109.2 -192.1S160.5 -77.2 224.1 -77.2S339 -128.5 339 -192.1S287.7 -307 224.1 -307zM224.1 -117.4C183 -117.4 149.4 -150.9 149.4 -192.1S182.9 -266.8 224.1 -266.8S298.8 -233.3 298.8 -192.1S265.2 -117.4 224.1 -117.4zM370.5 -311.7C370.5 -296.8 358.5 -284.9 343.7 -284.9C328.8 -284.9 316.9 -296.9 316.9 -311.7S328.9 -338.5 343.7 -338.5S370.5 -326.5 370.5 -311.7zM446.6 -284.5C444.9 -320.4 436.7 -352.2 410.4 -378.4C384.2 -404.6 352.4 -412.8 316.5 -414.6C279.5 -416.7 168.6 -416.7 131.6 -414.6C95.8 -412.9 64 -404.7 37.7 -378.5S3.3 -320.5 1.5 -284.6C-0.6 -247.6 -0.6 -136.7 1.5 -99.7C3.2 -63.8 11.4 -32 37.7 -5.8S95.7 28.6 131.6 30.4C168.6 32.5 279.5 32.5 316.5 30.4C352.4 28.7 384.2 20.5 410.4 -5.8C436.6 -32 444.8 -63.8 446.6 -99.7C448.7 -136.7 448.7 -247.5 446.6 -284.5zM398.8 -60C391 -40.4 375.9 -25.3 356.2 -17.4C326.7 -5.7 256.7 -8.4 224.1 -8.4S121.4 -5.8 92 -17.4C72.4 -25.2 57.3 -40.3 49.4 -60C37.7 -89.5 40.4 -159.5 40.4 -192.1S37.8 -294.8 49.4 -324.2C57.2 -343.8 72.3 -358.9 92 -366.8C121.5 -378.5 191.5 -375.8 224.1 -375.8S326.8 -378.4 356.2 -366.8C375.8 -359 390.9 -343.9 398.8 -324.2C410.5 -294.7 407.8 -224.7 407.8 -192.1S410.5 -89.4 398.8 -60z">
                            </path>
                        </svg></a></div>
            </div>
        </div>
        <div class="ed-element ed-icon back-to-top-button-icon preset-back-to-top-button-v3-priodas"
            id="ed-445604211"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -320 448 256"
                    data-icon="ion-chevron-up" preserveAspectRatio="xMidYMid">
                    <path
                        d="M224 -234l-174 167c-4 4 -12 4 -16 -0l-31 -30c-4 -4 -4 -12 0 -16l213 -204c2 -2 5 -3 8 -3s6 1 8 3l213 204c4 4 4 12 0 16l-31 30c-4 4 -12 4 -16 -0l-174 -167v-0v-0z">
                    </path>
                </svg></a></div>
    </div>
</div>
       