@{
    ViewData["Title"] = "Our Events";
}

 <div class="container" >
    <div class="row" style="top:60px">
        <p id="events"></p>
    </div>
 </div>

<div style="min-height:600px;" class="text-center">
   <h2>Our EVents</h2>
</div>



