@{
    ViewData["Title"] = "Our Events";
    Layout = "_EventsLayout";
}


 <div class="ed-element ed-container menu-wrapper preset-menu-v2-priodas wv-overflow_hidden" id="ed-445604214">
  
    <div class="ed-element ed-container banner preset-banner-v3-priodas wv-overflow_hidden parallax" id="ed-445604262">
      <div class="background">
        <div class="ed-element ed-image wv-bg" id="ed-445604265">
          <div class="background-image-holder ed-lazyload"
            data-background="url(../assets2/images/1920_1024x1536_511_0/11862335/WhatsAppImage2024-11-09at13.30.584.jpeg)"
            style="background-image: url(../assets2/images/1920_1024x1536_511_0/11862335/WhatsAppImage2024-11-09at13.30.584.jpeg);">
          </div>
        </div>
      </div>
      <div class="inner" data-parallax-amount="40">
        <div class="ed-element ed-container banner-content" id="ed-445604268">
          <div class="inner" data-parallax-amount="40">
            <div class="ed-element ed-container full-width animation-initial"
              style="--spacer-height:102px; background-color: rgba(255, 255, 255, 0.85);" id="ed-445604271"
              data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.4s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;onload&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
              <div class="inner">
                <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604274">
                  <div class="inner">
                    <div class="ed-element ed-text custom-theme h1" id="ed-445604277">
                      <p><span style="color: rgb(206, 22, 22);">Imibhiyozo ka 2024</span></p>
                    </div>
                    <div class="ed-element ed-spacer" id="ed-445604280">
                      <div class="space"></div>
                    </div>
                    <div class="ed-element ed-button scroll custom-theme right" id="ed-445604283"><a
                        class="button button-default button-color-default center wv-link-elm"
                        href="/8895802#ed-445604013" style="
    /* border-radius: 0;">Learn more</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ed-element ed-icon banner-arrow" id="ed-445604286"><a href="#!next" class="wv-link-elm"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 -288 320 170" data-icon="ion-ion-ios-arrow-down"
                  preserveAspectRatio="xMidYMid" style="width: 30px; height: 30px;">
                  <path d="M301 -288l19 21l-160 171l-160 -171l19 -21l141 150z"></path>
                </svg></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ed-element ed-image" id="ed-445604292">
     <img  src="~/assets2/images/1536/11862293/WhatsAppImage2024-11-09at13.30.594.jpeg" alt="" />
    <!-- <div class="ed-element ed-image" id="ed-445604292"><img
        src="~/assets2/images/1536/11862293/WhatsAppImage2024-11-09at13.30.594.jpeg" alt=""
        srcset="~/assets2/images/576/11862293/WhatsAppImage2024-11-09at13.30.594.jpeg 576w, ~/assets2/images/976/11862293/WhatsAppImage2024-11-09at13.30.594.jpeg 976w, ~/assets2/images/1536/11862293/WhatsAppImage2024-11-09at13.30.594.jpeg 1536w">
    </div> -->
    <div class="ed-element ed-image" id="ed-445604289"><img
        src="~/assets2/images/1536/11862551/WhatsAppImage2024-11-09at13.30.587.jpeg" alt=""
        srcset="~/assets2/images/576/11862551/WhatsAppImage2024-11-09at13.30.587.jpeg 576w, ~/assets2/images/976/11862551/WhatsAppImage2024-11-09at13.30.587.jpeg 976w, ~/assets2/images/1536/11862551/WhatsAppImage2024-11-09at13.30.587.jpeg 1536w">
    </div>
    <div class="ed-element ed-container wv-overflow_hidden preset-columns-three-v2-priodas" id="ed-445604013">
      <div class="inner" data-parallax-amount="40" id="our-services">
        <div class="ed-element ed-container columns-box full-width parallax animation-initial" id="ed-445604016"
          data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
          <div class="background">
            <div class="ed-element ed-image wv-bg" id="ed-445604031">
              <div class="background-image-holder ed-lazyload"
                data-background="url(&quot;../assets2/images/1536/11862767/WhatsAppImage2024-11-09at13.30.597.jpeg&quot;)"
                style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width='1536'%20viewBox='0%200%201536%202048'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='1536'%20height='2048'%20style='fill:%20%23F7F7F7'%20/%3E%3C/svg%3E&quot;);">
              </div>
            </div>
          </div>
          <div class="overlay" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);">
          </div>
          <div class="inner" data-parallax-amount="40">
            <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604019">
              <div class="inner">
                <div class="ed-element ed-headline custom-theme" id="ed-445604022">
                  <h6 class="h3 font-default"><span class="color-background">Recruitment drive</span></h6>
                </div>
                <div class="ed-element ed-spacer" id="ed-445604025">
                  <div class="space"></div>
                </div>
                <div class="ed-element ed-button custom-theme right" id="ed-445604028"><a
                    class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                    href="/8895802#ed-445604118">Learn more</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ed-element ed-container columns-box full-width animation-initial parallax" id="ed-445604034"
          data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.2s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
          <div class="background">
            <div class="ed-element ed-video wv-bg" id="ed-445604295"><video width="100%" playsinline=""
                autoplay="autoplay" loop="loop" muted="">
                <source type="video/mp4" src="~/assets2/images/0/11863234/WhatsAppVideo2024-11-09at13.30.594.mp4">
              </video></div>
          </div>
          <div class="overlay" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, transparent 100%);">
          </div>
          <div class="inner" data-parallax-amount="40">
            <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604037">
              <div class="inner">
                <div class="ed-element ed-headline custom-theme" id="ed-445604040">
                  <h2 class="h3 font-default"><span class="color-background">Opening Function</span></h2>
                </div>
                <div class="ed-element ed-spacer" id="ed-445604043">
                  <div class="space"></div>
                </div>
                <div class="ed-element ed-button custom-theme right" id="ed-445604046"><a
                    class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                    href="/8895802#ed-445159666">Learn more</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ed-element ed-container columns-box full-width animation-initial parallax" id="ed-445604049"
          data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.4s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
          <div class="background">
            <div class="ed-element ed-image wv-bg" id="ed-445604052">
              <div class="background-image-holder ed-lazyload"
                data-background="url(&quot;../assets2/images/960/11862652/WhatsAppImage2024-11-09at14.34.12.jpeg&quot;)"
                style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width='960'%20viewBox='0%200%20960%201280'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='960'%20height='1280'%20style='fill:%20%23F7F7F7'%20/%3E%3C/svg%3E&quot;);">
              </div>
            </div>
          </div>
          <div class="overlay" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);">
          </div>
          <div class="inner" data-parallax-amount="40">
            <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604055">
              <div class="inner">
                <div class="ed-element ed-headline custom-theme" id="ed-445604058">
                  <h2 class="h3 font-default"><span class="color-background">Ancestors Day</span></h2>
                </div>
                <div class="ed-element ed-spacer" id="ed-445604061">
                  <div class="space"></div>
                </div>
                <div class="ed-element ed-button custom-theme right" id="ed-445604064"><a
                    class="button center color-background bg-secondary bg-active-background color-active-secondary wv-link-elm"
                    href="/8895802#ed-445159666">Learn more</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ed-element ed-container columns-box full-width parallax animation-initial" id="ed-445604067"
          data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
          <div class="background">
            <div class="ed-element ed-video wv-bg" id="ed-445604355"><video width="100%" playsinline=""
                autoplay="autoplay" loop="loop" muted="">
                <source type="video/mp4" src="~/assets2/images/0/11866610/WhatsAppVideo2024-11-09at19.46.22.mp4">
              </video></div>
          </div>
          <div class="overlay" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);">
          </div>
          <div class="inner" data-parallax-amount="40">
            <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604070">
              <div class="inner">
                <div class="ed-element ed-headline custom-theme" id="ed-445604073">
                  <h2 class="h3 font-default"><span class="color-background">Sports Day</span></h2>
                </div>
                <div class="ed-element ed-spacer" id="ed-445604076">
                  <div class="space"></div>
                </div>
                <div class="ed-element ed-button custom-theme right" id="ed-445604079"><a
                    class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                    href="/8895802#ed-445604118">Learn more</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ed-element ed-container columns-box full-width parallax animation-initial" id="ed-445604082"
          data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.2s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
          <div class="background">
            <div class="ed-element ed-image wv-bg" id="ed-445604085">
              <div class="background-image-holder ed-lazyload"
                data-background="url(&quot;../assets2/images/1920/11862992/WhatsAppImage2024-11-09at15.03.281.jpeg&quot;)"
                style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width='1920'%20viewBox='0%200%201920%202560'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='1920'%20height='2560'%20style='fill:%20%23F7F7F7'%20/%3E%3C/svg%3E&quot;);">
              </div>
            </div>
          </div>
          <div class="overlay" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);">
          </div>
          <div class="inner" data-parallax-amount="40">
            <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604088">
              <div class="inner">
                <div class="ed-element ed-headline custom-theme" id="ed-445604091">
                  <h2 class="h3 font-default"><span class="color-background">Mandela Day</span></h2>
                </div>
                <div class="ed-element ed-spacer" id="ed-445604094">
                  <div class="space"></div>
                </div>
                <div class="ed-element ed-button custom-theme right" id="ed-445604097"><a
                    class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                    href="/8895802#ed-445604160">Learn more</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ed-element ed-container columns-box full-width parallax animation-initial" id="ed-445604100"
          data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.4s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
          <div class="background">
            <div class="ed-element ed-image wv-bg" id="ed-445604103">
              <div class="background-image-holder ed-lazyload"
                data-background="url(&quot;../assets2/images/1536_1536x1225_0_411/11863002/WhatsAppImage2024-11-09at13.30.5810.jpeg&quot;)"
                style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width='1536'%20viewBox='0%200%201536%201225.967213114754'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='1536'%20height='1225.967213114754'%20style='fill:%20%23F7F7F7'%20/%3E%3C/svg%3E&quot;);">
              </div>
            </div>
          </div>
          <div class="overlay" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);">
          </div>
          <div class="inner" data-parallax-amount="40">
            <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604106">
              <div class="inner">
                <div class="ed-element ed-headline custom-theme" id="ed-445604109">
                  <h2 class="h3 font-default"><span class="color-background">IsiXhosa Spelling Bee</span></h2>
                </div>
                <div class="ed-element ed-spacer" id="ed-445604112">
                  <div class="space"></div>
                </div>
                <div class="ed-element ed-button custom-theme right" id="ed-445604115"><a
                    class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                    href="/8895802#ed-445604160">Learn more</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ed-element ed-container columns-box full-width parallax animation-initial" id="ed-445604298"
          data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.4s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
          <div class="background">
            <div class="ed-element ed-image wv-bg" id="ed-445604301">
              <div class="background-image-holder ed-lazyload"
                data-background="url(&quot;../assets2/images/1920_1925x1536_61_0/11863013/WhatsAppImage2024-11-09at13.30.588.jpeg&quot;)"
                style="background-image: url(&quot;data:image/svg+xml,%3Csvg%20width='1920'%20viewBox='0%200%201920%201531.25'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='1920'%20height='1531.25'%20style='fill:%20%23F7F7F7'%20/%3E%3C/svg%3E&quot;);">
              </div>
            </div>
          </div>
          <div class="overlay" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);">
          </div>
          <div class="inner" data-parallax-amount="40">
            <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604304">
              <div class="inner">
                <div class="ed-element ed-headline custom-theme" id="ed-445604307">
                  <h2 class="h3 font-default"><span class="color-background">Lobola Negotiations</span></h2>
                </div>
                <div class="ed-element ed-spacer" id="ed-445604310">
                  <div class="space"></div>
                </div>
                <div class="ed-element ed-button custom-theme right" id="ed-445604313"><a
                    class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                    href="/8895802#ed-445604160">Learn more</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ed-element ed-container columns-box full-width parallax animation-initial" id="ed-445604316"
          data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.4s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
          <div class="background">
            <div class="ed-element ed-video wv-bg" id="ed-445604358"><video width="100%" playsinline=""
                autoplay="autoplay" loop="loop" muted="">
                <source type="video/mp4" src="~/assets2/images/0/11866652/WhatsAppVideo2024-11-09at15.50.13.mp4">
              </video></div>
          </div>
          <div class="overlay" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);">
          </div>
          <div class="inner" data-parallax-amount="40">
            <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604319">
              <div class="inner">
                <div class="ed-element ed-headline custom-theme" id="ed-445604322">
                  <h2 class="h3 font-default"><span class="color-background">Amabhaso</span></h2>
                </div>
                <div class="ed-element ed-spacer" id="ed-445604325">
                  <div class="space"></div>
                </div>
                <div class="ed-element ed-button custom-theme right" id="ed-445604328"><a
                    class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                    href="/8895802#ed-445604160">Learn more</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ed-element ed-container columns-box full-width parallax animation-initial" id="ed-445604331"
          data-animation="{&quot;type&quot;:&quot;fade&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.4s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
          <div class="background">
            <div class="ed-element ed-video wv-bg" id="ed-445604334"><video width="100%" playsinline=""
                autoplay="autoplay" loop="loop" muted="">
                <source type="video/mp4" src="~/assets2/images/0/11863147/WhatsAppVideo2024-11-09at13.30.596.mp4">
              </video></div>
          </div>
          <div class="overlay" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);">
          </div>
          <div class="inner" data-parallax-amount="40">
            <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604337">
              <div class="inner">
                <div class="ed-element ed-headline custom-theme" id="ed-445604340">
                  <h2 class="h3 font-default"><span class="color-background">Campus Wedding</span></h2>
                </div>
                <div class="ed-element ed-spacer" id="ed-445604343">
                  <div class="space"></div>
                </div>
                <div class="ed-element ed-button custom-theme right" id="ed-445604346"><a
                    class="button center bg-secondary color-background bg-active-background color-active-secondary wv-link-elm"
                    href="/8895802#ed-445604160">Learn more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ed-element ed-container full-width wv-boxed wv-spacer parallax preset-callout-v2-priodas"
      id="ed-445604244">
      <div class="background">
        <div class="ed-element ed-video wv-bg" id="ed-445604349"><video width="100%" playsinline="" autoplay="autoplay"
            loop="loop" muted="">
            <source type="video/mp4" src="~/assets2/images/0/11864782/WhatsAppVideo2024-11-09at17.45.04.mp4">
          </video></div>
      </div>
      <div class="overlay" style="background-color: rgba(0, 0, 0, 0.2);"></div>
      <div class="inner" data-parallax-amount="40">
        <div class="ed-element ed-container border-color-primary wv-overflow_visible" id="ed-445604247">
          <div class="inner">
            <div class="ed-element ed-headline custom-theme animation-initial" id="ed-445604250"
              data-animation="{&quot;type&quot;:&quot;move-bottom-to-top&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.8s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
              <h3 class="h1"><span class="color-primary">International Cultural &nbsp;</span></h3>
            </div>
            <div class="ed-element ed-headline custom-theme animation-initial" id="ed-445604253"
              data-animation="{&quot;type&quot;:&quot;move-bottom-to-top&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.9s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
              <h3 class="h2"><span class="color-secondary">Diversity Festival</span></h3>
            </div>
            <div class="ed-element ed-spacer" id="ed-445604256">
              <div class="space"></div>
            </div>
            <div class="ed-element ed-spacer" id="ed-445604259">
              <div class="space"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ed-element ed-container wv-overflow_hidden preset-text-with-image-v2-priodas wv-boxed wv-spacer"
      id="ed-445604118">
      <div class="inner" id="stationery">
        <div
          class="ed-element ed-container flex-justify-content-center flex-align-items-center flex-align-content-center text-with-image-box wv-overflow_visible animation-initial"
          style="opacity: 1;" id="ed-445604121"
          data-animation="{&quot;type&quot;:&quot;move-bottom-to-top&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.5s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
          <div class="inner">
            <div class="ed-element ed-headline custom-theme" id="ed-445604124">
              <h4><span style="color: rgb(206, 22, 22);">Free State Language Festival</span></h4>
            </div>
            <div class="ed-element ed-spacer" id="ed-445604127">
              <div class="space"></div>
            </div>
            <div class="ed-element ed-text custom-theme" id="ed-445604130">
              <p>Lusanda Nozizwe Madikane, Chairperson of XSA, proudly represented the isiXhosa language at the Free
                State Language Festival. The event showcased talented primary school learners from the Free State,
                highlighting their reading, storytelling, comprehension, and spelling abilities. Participants engaged
                enthusiastically, competing for prizes that celebrated their linguistic skills. This festival served as
                an important platform for indigenous language advocacy, fostering appreciation and awareness among the
                youth. Through these efforts, the preservation and promotion of isiXhosa continue to flourish in the
                community.</p>
            </div>
          </div>
        </div>
        <!-- <div class="ed-element ed-image text-with-image-image" style="text-align: center;" id="ed-445604133">
            <img
            src="data:image/svg+xml,%3Csvg%20width='800'%20viewBox='0%200%20800%20600'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='800'%20height='600'%20style='fill:%20%23F7F7F7'%20/%3E%3C/svg%3E"
            alt="" data-src="~/assets2/images/0/11865121/WhatsAppImage2024-11-09at16.25.13.jpeg" class="lazyload ed-lazyload"
            style="object-fit: cover;" />
        </div> -->
         <div class="ed-element ed-image text-with-image-image" style="text-align: center;" id="ed-445604133">
            <img
            src="~/assets2/images/0/11865121/WhatsAppImage2024-11-09at16.25.13.jpeg"
            alt="" class=""
            style="object-fit: cover;" />
        </div>
      </div>
    </div>
    <div class="ed-element ed-container preset-fullscreen-text-and-background-v2-floristic-priodas" id="ed-445604136">
      <div class="inner" id="floristic">
        <div
          class="ed-element ed-container text-and-background-content flex-align-items-center flex-align-content-center wv-boxed wv-overflow_visible"
          id="ed-445604139">
          <div class="inner">
            <div class="ed-element ed-headline custom-theme" id="ed-445604142">
              <h2>XSA executive joins Wits, UP Xhosa society event.</h2>
            </div>
            <div class="ed-element ed-spacer" id="ed-445604145">
              <div class="space"></div>
            </div>
            <div class="ed-element ed-spacer" id="ed-445604148">
              <div class="space"></div>
            </div>
            <div class="ed-element ed-container preset-gallery-v3-priodas animation-initial" style="opacity: 1;"
              id="ed-445604151"
              data-animation="{&quot;type&quot;:&quot;move-bottom-to-top&quot;,&quot;initial&quot;:&quot;hide&quot;,&quot;keepHeight&quot;:true,&quot;duration&quot;:&quot;1s&quot;,&quot;delay&quot;:&quot;0.4s&quot;,&quot;overlay&quot;:{&quot;width&quot;:&quot;auto&quot;},&quot;trigger&quot;:&quot;scroll&quot;,&quot;group&quot;:{&quot;name&quot;:&quot;&quot;,&quot;behavior&quot;:{&quot;show&quot;:&quot;&quot;,&quot;hide&quot;:&quot;&quot;}}}">
              <div class="inner">
                <div class="ed-element ed-gallery noshadow border-none" id="ed-445604154">
                  <ul class="ed-gallery-items v2" style="margin: 0px;"
                    data-parameters="{&quot;items&quot;:[{&quot;image&quot;:&quot;~/assets2/images/0/11865446/WhatsAppImage2024-11-09at18.22.54.jpeg&quot;,&quot;title&quot;:&quot;&quot;},{&quot;image&quot;:&quot;~/assets2/images/0/11865440/WhatsAppImage2024-11-09at18.24.24.jpeg&quot;,&quot;title&quot;:&quot;&quot;},{&quot;image&quot;:&quot;~/assets2/images/0/11865455/WhatsAppImage2024-11-09at18.21.20.jpeg&quot;,&quot;title&quot;:&quot;&quot;},{&quot;image&quot;:&quot;~/assets2/images/0/11865509/WhatsAppImage2024-11-09at18.29.28.jpeg&quot;,&quot;title&quot;:&quot;&quot;},{&quot;image&quot;:&quot;~/assets2/images/0/11865512/WhatsAppImage2024-11-09at18.27.52.jpeg&quot;,&quot;title&quot;:&quot;&quot;},{&quot;image&quot;:&quot;~/assets2/images/0/11865515/WhatsAppImage2024-11-09at18.27.51.jpeg&quot;,&quot;title&quot;:&quot;&quot;}],&quot;size&quot;:&quot;800px&quot;,&quot;ratio&quot;:1,&quot;horizontal&quot;:&quot;0px&quot;,&quot;vertical&quot;:&quot;0px&quot;,&quot;enlarge&quot;:true}">
                    <li id="ed-gallery-item_11865446" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                        href="~/assets2/images/766/11865446/WhatsAppImage2024-11-09at18.22.54.jpeg" target="_blank" title=""><img
                          
                          alt=""
                          
                          src="~/assets2/images/800x800/11865446/WhatsAppImage2024-11-09at18.22.54.jpeg"
                          class=""
                          ></a>
                    </li>
                    <li id="ed-gallery-item_11865440" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                        href="~/assets2/images/900/11865440/WhatsAppImage2024-11-09at18.24.24.jpeg" target="_blank" title=""><img
                          
                          alt=""
                          
                          src="~/assets2/images/800x800/11865440/WhatsAppImage2024-11-09at18.24.24.jpeg"
                          class=""
                          ></a>
                    </li>
                    <li id="ed-gallery-item_11865455" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                        href="~/assets2/images/900/11865455/WhatsAppImage2024-11-09at18.21.20.jpeg" target="_blank" title=""><img
                          
                          alt=""
                          
                          src="~/assets2/images/800x800/11865455/WhatsAppImage2024-11-09at18.21.20.jpeg"
                          class=""
                          ></a>
                    </li>
                    <li id="ed-gallery-item_11865509" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                        href="~/assets2/images/900/11865509/WhatsAppImage2024-11-09at18.29.28.jpeg" target="_blank" title=""><img
                          
                          alt=""
                          
                          src="~/assets2/images/800x800/11865509/WhatsAppImage2024-11-09at18.29.28.jpeg"
                          class=""
                          ></a>
                    </li>
                    <li id="ed-gallery-item_11865512" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                        href="~/assets2/images/900/11865512/WhatsAppImage2024-11-09at18.27.52.jpeg" target="_blank" title=""><img
                          
                          alt=""
                          
                          src="~/assets2/images/800x800/11865512/WhatsAppImage2024-11-09at18.27.52.jpeg"
                          class=""
                          ></a>
                    </li>
                    <li id="ed-gallery-item_11865515" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                        href="~/assets2/images/900/11865515/WhatsAppImage2024-11-09at18.27.51.jpeg" target="_blank" title=""><img
                          
                          alt=""
                          
                          src="~/assets2/images/800x800/11865515/WhatsAppImage2024-11-09at18.27.51.jpeg"
                          class="ed-lazyload lazyload"
                          ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ed-element ed-container full-width text-and-background-background wv-overflow_visible parallax"
          id="ed-445604157">
          <div class="background">
            <div class="ed-element ed-video wv-bg" id="ed-445604352"><video width="100%" playsinline="" muted=""
                autoplay="autoplay">
                <source type="video/mp4" src="~/assets2/images/0/11865767/WhatsAppVideo2024-11-09at18.48.52.mp4">
              </video></div>
          </div>
          <div class="inner" data-parallax-amount="40">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="ed-element ed-container preset-fullscreen-text-and-background-v2-decoration-event-priodas"
      id="ed-445604160">
      <div class="inner" id="decorations-events">
        <div class="ed-element ed-spacer" id="ed-445604163">
          <div class="space"></div>
        </div>
        <div class="ed-element ed-spacer" id="ed-445604166">
          <div class="space"></div>
        </div>
        <div class="ed-element ed-container preset-gallery-decorations-gallery-priodas" id="ed-445604169">
          <div class="inner">
            <div class="ed-element ed-gallery noshadow border-none" id="ed-445604172">
              <ul class="ed-gallery-items v2" style="margin: 0px;"
                data-parameters="~/assets2/images/0/11865959/WhatsAppImage2024-11-09at14.34.132.jpeg">
                <li id="ed-gallery-item_11865959" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                    href="~/assets2/images/900/11865959/WhatsAppImage2024-11-09at14.34.132.jpeg" target="_blank" title=""><img
                      
                      alt=""
                      
                      src="~/assets2/images/800x800/11865959/WhatsAppImage2024-11-09at14.34.132.jpeg" class="ed-lazyload"
                      ></a>
                </li>
                <li id="ed-gallery-item_11866040" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                    href="~/assets2/images/900/11866040/WhatsAppImage2024-11-09at19.11.375.jpeg" target="_blank" title=""><img
                      src="~/assets2/images/800x800/11866040/WhatsAppImage2024-11-09at19.11.375.jpeg"
                      alt=""
                      
                      class="ed-lazyload"
                      ></a>
                </li>
                <li id="ed-gallery-item_11866010" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                    href="~/assets2/images/900/11866010/WhatsAppImage2024-11-09at19.11.362.jpeg" target="_blank" title=""><img
                      src="~/assets2/images/800x800/11866040/WhatsAppImage2024-11-09at19.11.375.jpeg"
                      alt=""
                      
                      class="ed-lazyload"
                     ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ed-element ed-spacer" id="ed-445604175">
          <div class="space"></div>
        </div>
        <div class="ed-element ed-container preset-gallery-events-gallery-priodas" id="ed-445604178">
          <div class="inner">
            <div class="ed-element ed-gallery noshadow border-none" id="ed-445604181">
              <ul class="ed-gallery-items v2" style="margin: 0px;"
                data-parameters="~/assets2/images/0/11866331/WhatsAppImage2024-11-09at19.31.06.jpeg">
                <li id="ed-gallery-item_11866331" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                    href="~/assets2/images/1200/11866331/WhatsAppImage2024-11-09at19.31.06.jpeg" target="_blank" title=""><img
                      src="~/assets2/images/800x800/11866331/WhatsAppImage2024-11-09at19.31.06.jpeg"
                      alt=""
                      
                      class="ed-lazyload"
                      ></a>
                </li>
                <li id="ed-gallery-item_11866334" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                    href="~/assets2/images/1200/11866334/WhatsAppImage2024-11-09at19.26.22.jpeg" target="_blank" title=""><img
                      src="~/assets2/images/800x800/11866334/WhatsAppImage2024-11-09at19.26.22.jpeg"
                      alt=""
                      
                      class="ed-lazyload"
                      ></a>
                </li>
                <li id="ed-gallery-item_11866348" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                    href="~/assets2/images/1200/11866348/WhatsAppImage2024-11-09at19.25.37.jpeg" target="_blank" title=""><img
                      src="~/assets2/images/800x800/11866348/WhatsAppImage2024-11-09at19.25.37.jpeg"
                      alt=""
                      
                      class="ed-lazyload"
                     ></a>
                </li>
                <li id="ed-gallery-item_11866385" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                    href="~/assets2/images/900/11866385/WhatsAppImage2024-11-09at19.26.52.jpeg" target="_blank" title=""><img
                      src="~/assets2/images/800x800/11866385/WhatsAppImage2024-11-09at19.26.52.jpeg"
                      alt=""
                      
                       class="ed-lazyload"
                      ></a>
                </li>
                <li id="ed-gallery-item_11866398" class="ed-gallery-thumb" style="width: 800px; padding: 0px;"><a
                    href="~/assets2/images/1200/11866398/WhatsAppImage2024-11-09at18.19.37.jpeg" target="_blank" title=""><img
                      src="~/assets2/images/800x800/11866398/WhatsAppImage2024-11-09at18.19.37.jpeg"
                      alt=""
                      
                       class="ed-lazyload"
                     ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ed-element ed-container full-width text-and-background-background wv-overflow_visible parallax"
          id="ed-445604184">
          <div class="background">
            <div class="ed-element ed-slider wv-bg" id="ed-445604187">
              <div class="slider-container slick-initialized slick-slider"
                data-parameters="~/assets2/images/0/11865926/WhatsAppImage2024-11-09at13.30.581.jpeg">
              </div>
            </div>
          </div>
          <div class="inner" data-parallax-amount="40">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="ed-element ed-container footer preset-footer-tyr-v2-priodas" id="ed-445604190">
      <div class="inner" id="contact">
        <div class="ed-element ed-map footer-hel-map" style="
    color: tomato;
" id="ed-445604193">
          <div class="map-canvas" style="position: relative; overflow: hidden;"
            data-parameters="{&quot;markers&quot;:[{&quot;query&quot;:&quot;University of the free state&quot;,&quot;open&quot;:false,&quot;title&quot;:&quot;Priodas&quot;,&quot;description&quot;:&quot;&quot;,&quot;info&quot;:false,&quot;icon&quot;:false,&quot;lat&quot;:-29.1075973,&quot;lng&quot;:26.1924506}],&quot;center&quot;:{&quot;query&quot;:&quot;University f the free state&quot;,&quot;lat&quot;:-29.1075973,&quot;lng&quot;:26.1924506,&quot;markers&quot;:false},&quot;zoom&quot;:13,&quot;type&quot;:&quot;roadmap&quot;,&quot;style&quot;:{&quot;name&quot;:&quot;default&quot;,&quot;configuration&quot;:null,&quot;color&quot;:&quot;#999999&quot;},&quot;controls&quot;:{&quot;zoom&quot;:true,&quot;mousewheel&quot;:false,&quot;scale&quot;:false}}">
          </div>
        </div>
     
        <div class="ed-element ed-icon back-to-top-button-icon preset-back-to-top-button-v3-priodas" id="ed-445604211">
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -320 448 256" data-icon="ion-chevron-up"
              preserveAspectRatio="xMidYMid">
              <path
                d="M224 -234l-174 167c-4 4 -12 4 -16 -0l-31 -30c-4 -4 -4 -12 0 -16l213 -204c2 -2 5 -3 8 -3s6 1 8 3l213 204c4 4 4 12 0 16l-31 30c-4 4 -12 4 -16 -0l-174 -167v-0v-0z">
              </path>
            </svg></a></div>
      </div>
    </div>