@{
    ViewData["Title"] = "Gallery";
}

<style>

  img{
    object-fit: cover;
    width: 100%;
  }
</style>


 <div class="container" style="top:60px">
    <div class="row" style="top:60px">
      <p id="gallary"></p>
    </div>
 </div>

 <!-- Team Section -->
<section id="team" class="team section mb-2">
      

      <div class="gallery_1 gallery">

        <div class="responsive-container-block bigContainer services">
          <div class="responsive-container-block Container service-item">

              <!-- Section Title -->
        <div class="container section-title mt-2" data-aos="fade-up">
          <h1 class="caveat-xsa">XSA &middot; 2024 &middot; Album </h1>
          <span class="caveat-xsa display-4" style="color:#E40D2A !important;">Reflections on the work we have done and memories created</span>
          <h1 class="caveat-xsa" >A collection of our successful events in 2024</h1>
        </div><!-- End Section Title -->

            <div class="responsive-container-block imgContainer">


           
              <div class="project project1 "  data-aos="fade-up" data-aos-delay="100">
                <div class="member gallery-item">    
                                  
                    <img src="~/images/gallary/0f3f1f99478e411dbbde50bab91fbf7a.webp" class="smallImage" alt="">
                  
                    <div class="member-info">
                      <div class="member-info-content">
                        <h4>Former Secretary and XSA Advisor</h4>
                        <span>XSA End year function</span>
                        <div class="social">
                          <a href="~/images/gallary/0f3f1f99478e411dbbde50bab91fbf7a.webp" class="glightbox" data-gallery="images-gallery">
                            <i class="bi bi-zoom-in"></i>
                          </a>                          
                        </div>
                      </div>
                    </div> 
                  
                </div>
              </div>
              <!-- End Team Member -->

              <div class="project project2 "  data-aos="fade-up" data-aos-delay="200">
                <div class="member gallery-item">
                  <img src="~/images/gallary/9f23020971dd4f59ad68b4d9a489d3a2.webp" class="smallImage" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Sikelelwe Mguye</h4>
                      <span>XSA End year function</span>
                      <div class="social">
                       <a href="~/images/gallary/9f23020971dd4f59ad68b4d9a489d3a2.webp" class="glightbox" data-gallery="images-gallery">
                          <i class="bi bi-zoom-in"></i>
                        </a>     
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->

              <div class="project project3 "  data-aos="fade-up" data-aos-delay="300">
                <div class="member gallery-item">
                  <img src="~/images/gallary/14fb5a8a38714f0aa89bd814d6dd290f.webp" class="smallImage" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>XSA Chairperson</h4>
                      <span>South Campus Visit</span>
                      <div class="social">
                         <a href="~/images/gallary/14fb5a8a38714f0aa89bd814d6dd290f.webp" class="glightbox" data-gallery="images-gallery">
                          <i class="bi bi-zoom-in"></i>
                        </a>   
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->

              <div class="project project4" data-aos="fade-up" data-aos-delay="400">
                <div class="member gallery-item">
                  <img src="~/images/gallary/302c3a15d109498183b9c148c7f850a8.webp" class="smallImage" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>XSA traditional dance group</h4>
                      <span>International Cultural Diversity Festival</span>
                      <div class="social">
                         <a href="~/images/gallary/302c3a15d109498183b9c148c7f850a8.webp" class="glightbox" data-gallery="images-gallery">
                          <i class="bi bi-zoom-in"></i>
                        </a>   
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->

              <div class="project project5" data-aos="fade-up" data-aos-delay="400">
                <div class="member gallery-item">
                  <img src="~/images/gallary/302c3a15d109498183b9c148c7f850a8.webp" class="smallImage" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Couple</h4>
                      <span>Traditional wedding (Mock)</span>
                      <div class="social">
                         <a href="/images/gallary/302c3a15d109498183b9c148c7f850a8.webp" class="glightbox" data-gallery="images-gallery">
                          <i class="bi bi-zoom-in"></i>
                        </a>   
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->

              <div class="project project6" data-aos="fade-up" data-aos-delay="400">
                <div class="member">
                  <img src="~/images/gallary/302c3a15d109498183b9c148c7f850a8.webp" class="smallImage" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>XSA Members</h4>
                      <span>XSA and CUT traditional wedding</span>
                      <div class="social">
                         <a href="~/images/gallary/302c3a15d109498183b9c148c7f850a8.webp" class="glightbox" data-gallery="images-gallery">
                          <i class="bi bi-zoom-in"></i>
                        </a>   
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- End Team Member -->

            </div>

          </div>
        </div>
      </div>


</section><!-- /Team Section -->