@{
    ViewData["Title"] = "XSA Home";
}

<style>

    .bi-xsa{
      font-size: 40px;  
    }   
    
    p{
      color: grey;
      font-size: 15px;
    }

</style>

 <!-- Hero Section --> 

<div class="container" >
    <div class="row" style="top:100px">
      <p id="hero"></p>
    </div>
</div>

<div lc-helper="background" class="container-fluid py-5 mb-4 d-flex justify-content-center" style="  background-image: url('../images/about/aboutxsa.webp');
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat">
      <div class="p-5 mb-4 lc-block col-xxl-7 col-lg-8 col-12" style=" backdrop-filter: blur(2px) saturate(102%);
            -webkit-backdrop-filter: blur(2px) saturate(102%);
            background-color: rgba(255, 255, 255, 0.45);
            border-radius: 12px;
            border: 1px solid rgba(209, 213, 219, 0.3);">
          <div class="lc-block">
              <div editable="rich">
                  <h1 class="fw-bolder text-center">Xhosa Students Association UFS</h1>
              </div>
          </div>
          <div class="lc-block col-md-12">
              <div class="rounded mb-2" style="background-color: rgba(0, 0, 0, 0.3);padding: 5px;" >
                  <h6 class="fs-6 fw-lighter" style="color: white !important;padding: 2px 10px;line-height:25px;">
                    XSA is registered at the University of the free state in three campuses, Bloemfontein, South Campus and QwaQwa campus,
                    as the student organisation of Xhosa speaking students. 
                     <hr />
                  </h6>
                 
                  <h6 class="fs-6 fw-lighter" style="color: white !important;padding: 2px 10px;">
                    Its core mandate is to preserve the isiXhosa langauge, culture and heritage.
                  </h6>
              </div>
          </div>
          <div class="lc-block text-center">
              <a class="btn btn-danger" href="#" role="button">Get to know us</a>
              <a class="btn btn-outline-danger" href="#" role="button">Contact Us</a>
          </div>
      </div>
</div>

@*
<div class="container-fluid g-0">
    <img style="max-height: 400px;object-fit: cover;" 
        class="img-fluid w-100 min-vh-25 min-vh-md-50 mb-n7" 
        src="~/images/about/aboutxsa.webp" srcset="" sizes="" width="" height="" alt="XSA" />
</div>

<div class="container p-5 bg-body mt-md-n6 position-relative rounded">
    <div class="row">
        <div class="col-md-4 text-center align-self-center">
            <div class="lc-block border-lg-end border-2 ">
                <div editable="rich">
                    <p class="display-4 text-secondary">XSA</p>
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-md-8">
            <div class="lc-block ">
                <div editable="rich">
                    <h1 class="">Xhosa Students Association UFS</h1>
                    <h1 class="">Unesiduko Nje Unetyala</h1>
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
    </div>
    <div class="row" style="background-color:#fafafa;">
        <div class="col-md-9 offset-md-1">
            <div class="lc-block mt-5">
                <div editable="rich">
                    <p class="lead text-secondary text-center"> 
                      XSA is registered at the University of the free state in three campuses, Bloemfontein, South Campus and QwaQwa campus,
                        as the student organisation of Xhosa speaking students.
                    </p>
                    <p class="lead text-secondary text-center">
                      Its core mandate is to preserve the isiXhosa langauge, culture and heritage. 
                    </p>
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
    </div>
</div><!-- /Hero Section -->
*@

 <!-- About Section -->
  <section  class="about section mt-5" >

    <div class="container mt-3">

      <div class="row" >

        <div class="col-lg-6 position-relative" data-aos="fade-up" data-aos-delay="100">
          <img src="~/images/xsaindex.webp" style="max-height: 500px;width:100%;border-radius:30px;" class="img-responsive" alt="XSA">
          <a href="#" class="glightbox pulsating-play-btn"></a>
        </div>

        <div class="col-lg-6 ps-lg-4 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                  
          <h3 class="px-4">Xhosa Student Association</h3>      
          
          <p class="px-4">
            We are a Xhosa Students Association registered at the University Of Free State, we advocate for unity, solidarity, and the acceptance of multilingualism in university/professional spaces. Our core mandate is to preserve and revitalize  isiXhosa Language.
          </p>
          <ul>
            <li>
              
              <div>
                <h5><strong><span class="bi-xsa"> <i class="bi bi-diagram-3"></i></span>&nbsp;P</strong>romoting, <strong>C</strong>elebrating</h5>
                <p class="">We commit ourselves to promoting, celebrating, and educating about the Xhosa  language and culture to all students at the University of the Free State.</p>
              </div>
            </li>
            <li>                
              <div>
                <h5><span class="bi-xsa"><i class="bi bi-fullscreen-exit"></i></span>&nbsp;<strong>X</strong>hosa-<strong>s</strong>peaking <strong>s</strong>tudents</h5>
                <p class="">We are committed to creating a community belonging to all Xhosa-speaking students and those keen on learning about the Xhosa culture.</p>
              </div>
            </li>
            <li>
              <div>
                <h5>
                <span class="bi-xsa"><i class="bi bi-broadcast"></i></span>&nbsp;<span class="caveat-xsa">UNITY</span> - '<strong>u</strong>mntu <strong>n</strong>gumntu <strong>n</strong>gabantu,'</h5>
                <p class=""> As one of our most popular idioms states, 'umntu ngumntu ngabantu,' which translates to 'I am because we are,' this is a notion we are keen on advocating for as Xhosa Students Association. A collaborative platform for all your needs.</p>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

  
  </section><!-- /About Section -->

<!-- Testimonials Section -->
<div id="testimonials" class="testimonials section dark-background mt-5">

  <img src="~/images/gallary/9f23020971dd4f59ad68b4d9a489d3a2.webp" class="testimonials-bg" alt="">

  <div class="container" data-aos="fade-up" data-aos-delay="100" >

      <div class="testimonial-item">
        <!-- <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""> -->

        <h3>Lusanda Madikane</h3>
        <h4>Chair - Nozizwe</h4>
        <div class="stars">
          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
        </div>
        <p>
          <i class="bi bi-quote quote-icon-left"></i>
          <span>Wonke ubani unoxanduva lokwenza okuhle, igalelo lomntu ngamnye lenza umohluko. Masimanyane ma Afrika sibuyise,
              sivuselele ubuntu bethu. Kwakungenje mandulo, Masibuyele Embo!!
          </span>
          <i class="bi bi-quote quote-icon-right"></i>
        </p>
      </div>
       
  </div>

</div><!-- /Testimonials Section -->
