@{
    ViewData["Title"] = "Our Events";
}

@section Scripts{
    
    <script>
        $(document).ready(function() {           
                     
            alert(response.responseMessage);    
          
        })
    </script>

}

<div class="text-center">
   <h2>News Test</h2>
</div>
