@{
    ViewData["Title"] = "Print Results";
}

@section Scripts{
    
    <script>
        $(document).ready(function() {           
                     
            alert(response.responseMessage);    
          
        })
    </script>

}
        

<div class="text-center">
    <h3>Xhosa Student Association</h3>
</div>

<hr />
