@{
    ViewData["Title"] = "About Us";
}
 
<style>
    
    h1,h2,h3,h4,h5,h6{
        color: black !important;
    }
    p{
          color: black !important;
    }

    .member-img {

        height: 400px !important;
    }

    .member-img > img{

        fit: cover;
    }

    a {
        text-decoration: none;
        color: #E40D2A;
        font-size: 16px;
        font-weight: 400px;
    }

    .h2_{
      font-size: 36px;
      font-weight: 700px;
      color: grey !important;
      font-style: verdana;
    }

</style>

<div id="team" class="team section" >

    <div class="container-fluid" data-aos="fade-up" style="width:100% !important;background-color:#fafafa;padding: 40px;">
        <h2 class="h2_ text-center" style="text-align:center;">Team</h2>        
    </div><!-- End Section Title -->

    <!-- Advisory -->
    <div class="container-fluid" style="background-color:#fff;">

        <div class="col-sm-4 col-md-4 mt-5" style="margin: 0 auto; float: none;">
            <h2 class="text-center mt-3">
                <span style="border-bottom: 2px solid #CE1212;padding-bottom: 8px;">
                    Advisory Committee
                </span>
            </h2>
        </div>        

        <div class="container mb-5" >
            <div class="row" >

                <h4 class="text-center py-3 mt-3" style="letter-spacing: .2rem;">Main Campus</h4>

                <div class="row" style="border-right:2px solid lightgrey">

                    <div class="col-lg-4 col-md-4 col-sm-12" data-aos="fade-up" data-aos-delay="100">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Dr Nase.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4 class="mt-3">Dr Nhase</h4>

                                <a class="mt-3 mb-3">Advisory Member</a>                               

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 col-sm-12" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Luthuli.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4 class="mt-3">Lunga Luthuli</h4>

                                <a class="mt-3 mb-3">Advisory Member</a>
                              

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 col-sm-12" data-aos="fade-up" data-aos-delay="300">
                        <div class="team-member mb-4" >
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Vusi.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                
                                <h4 class="mt-3">Vusumzi Gqalane</h4>

                                <a class="mt-3 mb-3">Advisory Member</a>
                                

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    
                </div>

            </div><!-- /Team Section 1 -->
        </div>
        
    </div>

    <div class="container-fluid" >
        <div class="row" style="background-color:white;">
            <div class="col-sm-4 col-md-4 mt-3" style="margin: 0 auto; float: none;">
                <h2 class="text-center" >
                    <span style="border-bottom: 2px solid #CE1212;padding-bottom: 8px;">
                        Executives
                    </span>
                </h2>
            </div>
        </div>
        
        <div class="container">
            <div class="row" >  

                <h4 class="text-center py-3 mt-3" style="letter-spacing: .2rem;">Main Campus</h4> 

                <div class="row" style="border-left:2px solid #A71930;background-color:#f8f9f5;">
                
                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-md-4 col-lg-4 offset-md-4 offset-lg-4 d-flex align-items-stretch"  data-aos="fade-up" data-aos-delay="100">
                                <div class="team-member mb-4">
                                    <div class="member-img">
                                        <img src="~/images/Teams/Execitives/Advocate.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter-x"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""><i class="bi bi-linkedin"></i></a>
                                        </div>
                                    </div>
                                    <div class="member-info self-align-center" style="vertical-align:middle;">
                                        <h4 class="mt-3">Nozizwe, Lusanda Madikane</h4>

                                        <a class="mt-3 mb-3">Chairperson</a>
                                        <!-- <p class="mt-3" style="text-align:justify;">                    
                                            Lusanda Madikane (Nozizwe) is a dedicated academic and advocate for cultural preservation, currently pursuing a master’s degree in communication science at the University of the Free State (UFS). 
                                        </p>                                         -->

                                    </div>
                                </div>
                            </div><!-- End Team Member -->
                            <!-- <div class="col-lg-5 col-md-5">
                                <p style="text-align:left;">
                                    As chairperson of the Xhosa Students Association at UFS, she actively promotes the preservation of the isiXhosa language, heritage, and culture. In this role, she works to create initiatives that encourage cultural pride and multilingualism among students. Her commitment to African languages extends to her role as a Wikipedia editor for isiXhosa, contributing to the development of digital content in her native language.
                                </p>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Boyce.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4 class="mt-3">Ona Boyce</h4>

                                <a class="mt-3 mb-3">Deputy Chairperson</a>
                                <!-- <p class="mt-3" style="text-align:justify;">                    
                                    As a proud Xhosa individual, i am passionate about promoting cultural diversity and preservation. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Siphelele.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                
                                <h4 class="mt-3">Siphelele Xalisile</h4>

                                <a class="mt-3 mb-3">Secretary General</a>
                                <!-- <p class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Linamandla.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Linamandla Soni</h4>

                                <a  class="mt-3 mb-3">Treasurer</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Kgomotso.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Kgomotso Mothlabane</h4>

                                <a  class="mt-3 mb-3">Deputy Secretary</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Abulele.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Abulele Jebese</h4>

                                <a  class="mt-3 mb-3">Media and Marketing</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Sandisiwe.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Sandisiwe Mputa</h4>

                                <a  class="mt-3 mb-3">Academic Officer</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Mnqweno.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Mnqweno Ngqadu</h4>

                                <a  class="mt-3 mb-3">Events Coordinator</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Buntu.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Buntu Mgijima</h4>

                                <a  class="mt-3 mb-3">Cultural Affairs Officer</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Mbalentle.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Mbalentle Sipambo</h4>

                                <a  class="mt-3 mb-3">Social Support Officer</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                </div>

            </div><!-- /Team Main -->

            <div class="row" >  

                <h4 class="text-center py-3 mt-3" style="letter-spacing: .2rem;">QwaQwa Campus</h4> 

                <div class="row" style="border-left:2px solid #00B140;background-color:#f6fff8;">
                    
                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-md-4 col-lg-4  d-flex align-items-stretch" style="margin: 0 auto;float:none;" data-aos="fade-up" data-aos-delay="100">
                                <div class="team-member mb-4">
                                    <div class="member-img self-align-center">
                                        <img src="~/images/Teams/Execitives/Zimvo.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter-x"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""><i class="bi bi-linkedin"></i></a>
                                        </div>
                                    </div>
                                    <div class="member-info self-align-center" style="vertical-align:middle;">
                                        <h4 class="mt-3">Zimvo Potelwa</h4>

                                        <a class="mt-3 mb-3">Chairperson</a>
                                        <!-- <p class="mt-3" style="text-align:justify;">                    
                                            Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture.
                                        </p> -->

                                    </div>
                                </div>
                            </div><!-- End Team Member -->
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Inam.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4 class="mt-3">Inami Metuse</h4>

                                <a class="mt-3 mb-3">Deputy Chairperson</a>
                                <!-- <p class="mt-3" style="text-align:justify;">                    
                                    As a proud Xhosa individual, i am passionate about promoting cultural diversity and preservation. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Linda.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                
                                <h4 class="mt-3">Linda Dada</h4>

                                <a class="mt-3 mb-3">Secretary</a>
                                <!-- <p class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Anovuyo.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Anovuyo Mbovu</h4>

                                <a  class="mt-3 mb-3">Media and Marketing Officer</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Sivuyile.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Sivuyile Yenani</h4>

                                <a  class="mt-3 mb-3">Academic Officer</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Lehlohonolo.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Lehlohonolo Bloom</h4>

                                <a  class="mt-3 mb-3">Social Support Officer</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Yamkela.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Yamkela Mbangazeli</h4>

                                <a  class="mt-3 mb-3">Events Coordinator</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                </div>

            </div><!-- /Team  Qwa-->

            <div class="row">  

                <h4 class="text-center py-3 mt-3" style="letter-spacing: .2rem;">South Campus</h4> 

                <div class="row" style="border-left:2px solid #9E83B7;background-color:#f3f2ed;">
                    <div class="col-sm-12" >
                        <div class="row">
                            <div class="col-lg-4 col-md-4 d-flex align-items-stretch" style="margin: 0 auto;float:none;" data-aos="fade-up" data-aos-delay="100">
                                <div class="team-member mb-4 ">
                                    <div class="member-img self-align-center">
                                        <img src="~/images/Teams/Execitives/Liyama.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter-x"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""><i class="bi bi-linkedin"></i></a>
                                        </div>
                                    </div>
                                    <div class="member-info self-align-center" style="vertical-align:middle;">
                                        <h4 class="mt-3">Liyema Faltein</h4>

                                        <a class="mt-3 mb-3">Chairperson</a>
                                        <!-- <p class="mt-3" style="text-align:justify;">                    
                                            Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture.
                                        </p> -->

                                    </div>
                                </div>
                            </div><!-- End Team Member -->
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Lafika.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4 class="mt-3">Lafika Ngqani</h4>

                                <a class="mt-3 mb-3">Deputy Chairperson</a>
                                <!-- <p class="mt-3" style="text-align:justify;">                    
                                    As a proud Xhosa individual, i am passionate about promoting cultural diversity and preservation. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Minentle.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                
                                <h4 class="mt-3">Minentle Tshiki</h4>

                                <a class="mt-3 mb-3">Secretary</a>
                                <!-- <p class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Inganathi.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Inganathi Ncityana</h4>

                                <a  class="mt-3 mb-3">Deputy Secretary</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Khwezi.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Khwezi Bhayinethe</h4>

                                <a  class="mt-3 mb-3">Treasurer</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-4 d-flex" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Ben.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Madodandile, Ben, Mtolo </h4>

                                <a  class="mt-3 mb-3">Events Coordinator</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                     <div class="col-lg-4 col-md-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/Teams/Execitives/Khethokuhle.jpg" style="width:100%;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Khethokuhle Mngambe </h4>

                                <a  class="mt-3 mb-3">Media and Marketing Officer</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->


                </div>

            </div><!-- /Team South -->

        </div>

    </div>
    
    <div class="container-fluid" style="background-color:#f8f9fa;">

        <div class="col-sm-4 col-md-4 mt-5" style="margin: 0 auto; float: none;">
            <h2 class="text-center" style="margin-top:50px !important;">
                <span style="border-bottom: 2px solid #CE1212;padding-bottom: 8px;">
                    Sub-Committee
                </span>
            </h2>
        </div>        

        <div class="container mb-5" >
            <div class="row" >

                <h4 class="text-center py-3 mt-3" style="letter-spacing: .2rem;">Main Campus</h4>

                <div class="row" style="border-right:2px solid lightgrey">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/about/AC.webp" style="width:100%;height:350px !important;" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4 class="mt-3">Anothando Citha</h4>

                                <a class="mt-3 mb-3">Events Coordinator- Sub Comm</a>
                                <!-- <p class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture.
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/about/NK.webp" style="width:100%;height:350px !important" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4 class="mt-3">Nhlonipho Kufa</h4>

                                <a class="mt-3 mb-3">Academic Officer- Sub-Comm</a>
                                <!-- <p class="mt-3" style="text-align:justify;">                    
                                    As a proud Xhosa individual, i am passionate about promoting cultural diversity and preservation. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="team-member mb-4" >
                            <div class="member-img">
                                <img src="~/images/about/ND.webp" style="width:100%;height:350px !important" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                
                                <h4 class="mt-3">Ntsika Dliso</h4>

                                <a class="mt-3 mb-3">Social Support Sub-Comm</a>
                                <!-- <p class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member mb-4">
                            <div class="member-img">
                                <img src="~/images/about/PL.webp" style="width:100%;height:350px !important" class="img-fluid img-responsive" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                            
                            <h4 class="mt-3">Phucuka Langa</h4>

                                <a  class="mt-3 mb-3">Cultural Affairs officer - Sub-Comm</a>
                                <!-- <p  class="mt-3" style="text-align:justify;">                    
                                    Anothando Citha is a second-year law student at the University of the Free State who is deeply dedicated to preserving and promoting Xhosa culture. 
                                </p> -->

                            </div>
                        </div>
                    </div><!-- End Team Member -->
                </div>

            </div><!-- /Team Section 1 -->
        </div>
        
    </div>

</div>

<div>
    <h3 id="div">Something to hide</h3>
</div>

<script>
    document.getElementById('div').style.display = "none";
</script>

