#ed-445604217 {
    flex-basis: auto;
    text-align: left;
}

#ed-445604217 img {
    width: 220px;
}

@media screen and (max-width: 975px) {
    #ed-445604217 img {
        width: 200px;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604217 img {
        width: 160px;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604217 {
        flex-grow: 1;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604217 {
        flex-grow: 0;
    }
}

#ed-445604220 {
    flex-basis: auto;
    flex-grow: 1;
    box-shadow: rgba(0, 0, 0, 0.1) -20px 0px 20px 0px;
}

@media screen and (max-width: 575px) {
    #ed-445604220 {
        box-shadow: none;
    }
}

#ed-445604226 {
    flex-basis: auto;
    margin: 0px 2rem 0px 0px;
}

#ed-445604226>.inner {
    place-content: center;
    align-items: center;
}

@media screen and (max-width: 575px) {
    #ed-445604226>.inner {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 575px) {
    #ed-445604226>.inner {}
}

@media screen and (max-width: 575px) {
    #ed-445604226 {}
}

@media screen and (max-width: 575px) {
    #ed-445604226 {
        margin: 0px 0.5rem 0px 0px;
    }
}

#ed-445604223>.inner {
    place-content: center flex-end;
    align-items: center;
}

#ed-445604223 {
    flex-basis: auto;
}

@media screen and (max-width: 575px) {
    #ed-445604223>.inner {
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604223 {}
}

@media screen and (max-width: 575px) {
    #ed-445604223 {
        flex-grow: 0;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604223 {}
}

@media screen and (max-width: 575px) {
    #ed-445604223 {
        flex-grow: 0;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604223 {
        flex-grow: 0;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604223 {
        flex-grow: 0;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604223 {
        flex-grow: 10;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604223 {
        flex-grow: 10;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604223 {
        flex-grow: 0;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604223 {
        flex-grow: 0;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604223 {
        flex-grow: 0;
    }
}

#ed-445604214>.inner {
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 975px) {
    #ed-445604214 {
        min-height: 0vh;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604214>.inner {
        place-content: center space-between;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604214 {
        min-height: 0vh;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604214 {
        min-height: 0vh;
    }
}

@media screen and (max-width: 575px) {}

#ed-445604265 .background-image-holder {
    background-position: 50% 45%;
    background-size: cover;
}

@media screen and (max-width: 975px) {
    #ed-445604265>.background-image-holder:not(.ed-lazyload) {
        /* background-image: url("../assets/images/976_1024x1536_511_0/11862335/WhatsAppImage2024-11-09at13.30.584.jpeg") !important; */
        background-color: green;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604265 .background-image-holder {
        background-position: center bottom;
    }
}

#ed-445604277 {
    flex-basis: auto;
}

#ed-445604280 .space {
    height: 30px;
}

@media screen and (max-width: 575px) {
    #ed-445604280 .space {
        height: 1rem;
    }
}

#ed-445604283 {
    flex-basis: auto;
    opacity: 1;
}

#ed-445604274>.inner {
    align-items: stretch;
    justify-content: flex-end;
    flex-flow: column nowrap;
    padding: 2rem;
}

#ed-445604274 {
    border-width: 1px;
    min-height: 100%;
    border-style: double;
}

@media screen and (max-width: 975px) {
    #ed-445604274>.inner {
        align-items: stretch;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604274>.inner {
        padding: 1rem;
    }
}

#ed-445604271 {
    flex-basis: 40%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604271>.inner {
    padding: 2rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}

@media screen and (max-width: 975px) {
    #ed-445604271 {
        flex-basis: auto;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604271>.inner {
        padding: 1.5rem;
    }
}

#ed-445604286 {
    flex-basis: auto;
    transform: translate3d(-50%, 0px, 0px) scale(1) rotate(0deg) skew(0deg, 0deg);
    position: absolute;
    left: 50%;
    bottom: 1rem;
}

#ed-445604268>.inner {
    place-content: flex-end;
    flex-flow: row wrap;
    padding: 2rem;
}

#ed-445604268 {
    flex-basis: auto;
    order: 0;
    flex-grow: 1;
}

@media screen and (max-width: 975px) {
    #ed-445604268>.inner {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604268>.inner {
        padding: 1rem;
    }
}

#ed-445604262>.inner {
    align-content: stretch;
    flex-direction: column;
}

#ed-445604262 {
    min-height: 93vh;
}

@media screen and (max-width: 975px) {
    #ed-445604031>.background-image-holder:not(.ed-lazyload) {
        background-image: url("/images/976/11862767/WhatsAppImage2024-11-09at13.30.597.jpeg") !important;
    }
}

#ed-445604022 h6 {
    text-align: right;
}

#ed-445604022 h2 {
    text-align: right;
}

#ed-445604022 {
    flex-basis: auto;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
    #ed-445604022 h6 {
        text-align: center;
    }
}

#ed-445604025 .space {
    height: 30px;
}

@media screen and (max-width: 975px) {
    #ed-445604025 .space {
        height: 20px;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604025 {
        flex-basis: auto;
    }
}

#ed-445604028 a.button {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

@media screen and (max-width: 575px) {
    #ed-445604028 {
        flex-basis: auto;
    }
}

#ed-445604019>.inner {
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: column nowrap;
    padding: 2rem;
}

#ed-445604019 {
    border-width: 1px;
    min-height: 100%;
    border-style: double;
}

@media screen and (max-width: 975px) {
    #ed-445604019>.inner {
        align-items: stretch;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604019>.inner {
        align-items: center;
    }
}

#ed-445604016 {
    min-height: 400px;
    opacity: 1;
}

@media screen and (max-width: 575px) {
    #ed-445604016 {
        min-height: 0px;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604016 {}
}

@media screen and (max-width: 575px) {
    #ed-445604016>.inner {
        place-content: stretch space-between;
        flex-flow: column;
        align-items: stretch;
    }
}

#ed-445604040 h2 {
    text-align: right;
}

#ed-445604040 {
    flex-basis: auto;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
    #ed-445604040 h2 {
        text-align: center;
    }
}

#ed-445604043 .space {
    height: 30px;
}

@media screen and (max-width: 975px) {
    #ed-445604043 .space {
        height: 20px;
    }
}

#ed-445604046 a.button {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604037>.inner {
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: column;
    padding: 2rem;
}

#ed-445604037 {
    border-width: 1px;
    min-height: 100%;
    border-style: double;
}

@media screen and (max-width: 975px) {
    #ed-445604037>.inner {
        align-items: stretch;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604037>.inner {
        align-items: center;
    }
}

#ed-445604034 {
    min-height: 400px;
    opacity: 1;
}

@media screen and (max-width: 575px) {
    #ed-445604034 {
        min-height: 0px;
    }
}

#ed-445604058 h2 {
    text-align: right;
}

#ed-445604058 {
    flex-basis: auto;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
    #ed-445604058 h2 {
        text-align: center;
    }
}

#ed-445604061 .space {
    height: 30px;
}

@media screen and (max-width: 975px) {
    #ed-445604061 .space {
        height: 20px;
    }
}

#ed-445604064 a.button {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604055>.inner {
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: column nowrap;
    padding: 2rem;
}

#ed-445604055 {
    border-width: 1px;
    min-height: 100%;
    border-style: double;
}

@media screen and (max-width: 975px) {
    #ed-445604055>.inner {
        align-items: stretch;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604055>.inner {
        align-items: center;
    }
}

#ed-445604049 {
    min-height: 400px;
    opacity: 1;
}

@media screen and (max-width: 575px) {
    #ed-445604049 {
        min-height: 0px;
    }
}

#ed-445604073 h2 {
    text-align: right;
}

#ed-445604073 {
    flex-basis: auto;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
    #ed-445604073 h2 {
        text-align: center;
    }
}

#ed-445604076 .space {
    height: 30px;
}

@media screen and (max-width: 975px) {
    #ed-445604076 .space {
        height: 20px;
    }
}

#ed-445604079 a.button {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604070>.inner {
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: column nowrap;
    padding: 2rem;
}

#ed-445604070 {
    border-width: 1px;
    min-height: 100%;
    border-style: double;
}

@media screen and (max-width: 975px) {
    #ed-445604070>.inner {
        align-items: stretch;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604070>.inner {
        align-items: center;
    }
}

#ed-445604067 {
    min-height: 400px;
    opacity: 1;
}

@media screen and (max-width: 575px) {
    #ed-445604067 {
        min-height: 0px;
    }
}

@media screen and (max-width: 975px) {
    #ed-445604085>.background-image-holder:not(.ed-lazyload) {
        background-image: url("/images/976/11862992/WhatsAppImage2024-11-09at15.03.281.jpeg") !important;
    }
}

#ed-445604091 h2 {
    text-align: right;
}

#ed-445604091 {
    flex-basis: auto;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
    #ed-445604091 h2 {
        text-align: center;
    }
}

#ed-445604094 .space {
    height: 30px;
}

@media screen and (max-width: 975px) {
    #ed-445604094 .space {
        height: 20px;
    }
}

#ed-445604097 a.button {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604088>.inner {
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: column nowrap;
    padding: 2rem;
}

#ed-445604088 {
    border-width: 1px;
    min-height: 100%;
    border-style: double;
}

@media screen and (max-width: 975px) {
    #ed-445604088>.inner {
        align-items: stretch;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604088>.inner {
        align-items: center;
    }
}

#ed-445604082 {
    min-height: 400px;
    opacity: 1;
}

@media screen and (max-width: 575px) {
    #ed-445604082 {
        flex-basis: 100%;
        min-height: 0px;
    }
}

@media screen and (max-width: 975px) {
    #ed-445604103>.background-image-holder:not(.ed-lazyload) {
        background-image: url("/images/976_1536x1225_0_411/11863002/WhatsAppImage2024-11-09at13.30.5810.jpeg") !important;
    }
}

#ed-445604109 h2 {
    text-align: right;
}

#ed-445604109 {
    flex-basis: auto;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
    #ed-445604109 h2 {
        text-align: center;
    }
}

#ed-445604112 .space {
    height: 30px;
}

@media screen and (max-width: 975px) {
    #ed-445604112 .space {
        height: 20px;
    }
}

#ed-445604115 a.button {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604106>.inner {
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: column nowrap;
    padding: 2rem;
}

#ed-445604106 {
    border-width: 1px;
    min-height: 100%;
    border-style: double;
}

@media screen and (max-width: 975px) {
    #ed-445604106>.inner {
        align-items: stretch;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604106>.inner {
        align-items: center;
    }
}

#ed-445604100 {
    min-height: 400px;
    opacity: 1;
}

@media screen and (max-width: 575px) {
    #ed-445604100 {
        min-height: 0px;
    }
}

@media screen and (max-width: 975px) {
    #ed-445604301>.background-image-holder:not(.ed-lazyload) {
        background-image: url("/images/976_1925x1536_61_0/11863013/WhatsAppImage2024-11-09at13.30.588.jpeg") !important;
    }
}

#ed-445604307 h2 {
    text-align: right;
}

#ed-445604307 {
    flex-basis: auto;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
    #ed-445604307 h2 {
        text-align: center;
    }
}

#ed-445604310 .space {
    height: 30px;
}

@media screen and (max-width: 975px) {
    #ed-445604310 .space {
        height: 20px;
    }
}

#ed-445604313 a.button {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604304>.inner {
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: column nowrap;
    padding: 2rem;
}

#ed-445604304 {
    border-width: 1px;
    min-height: 100%;
    border-style: double;
}

@media screen and (max-width: 975px) {
    #ed-445604304>.inner {
        align-items: stretch;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604304>.inner {
        align-items: center;
    }
}

#ed-445604298 {
    min-height: 400px;
    opacity: 1;
}

@media screen and (max-width: 575px) {
    #ed-445604298 {
        min-height: 0px;
    }
}

#ed-445604322 h2 {
    text-align: right;
}

#ed-445604322 {
    flex-basis: auto;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
    #ed-445604322 h2 {
        text-align: center;
    }
}

#ed-445604325 .space {
    height: 30px;
}

@media screen and (max-width: 975px) {
    #ed-445604325 .space {
        height: 20px;
    }
}

#ed-445604328 a.button {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604319>.inner {
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: column nowrap;
    padding: 2rem;
}

#ed-445604319 {
    border-width: 1px;
    min-height: 100%;
    border-style: double;
}

@media screen and (max-width: 975px) {
    #ed-445604319>.inner {
        align-items: stretch;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604319>.inner {
        align-items: center;
    }
}

#ed-445604316 {
    min-height: 400px;
    opacity: 1;
}

@media screen and (max-width: 575px) {
    #ed-445604316 {
        min-height: 0px;
    }
}

#ed-445604340 h2 {
    text-align: right;
}

#ed-445604340 {
    flex-basis: auto;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
    #ed-445604340 h2 {
        text-align: center;
    }
}

#ed-445604343 .space {
    height: 30px;
}

@media screen and (max-width: 975px) {
    #ed-445604343 .space {
        height: 20px;
    }
}

#ed-445604346 a.button {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604337>.inner {
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: column nowrap;
    padding: 2rem;
}

#ed-445604337 {
    border-width: 1px;
    min-height: 100%;
    border-style: double;
}

@media screen and (max-width: 975px) {
    #ed-445604337>.inner {
        align-items: stretch;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604337>.inner {
        align-items: center;
    }
}

#ed-445604331 {
    min-height: 400px;
    opacity: 1;
}

@media screen and (max-width: 575px) {
    #ed-445604331 {
        min-height: 0px;
    }
}

#ed-445604250 {
    opacity: 1;
}

#ed-445604250 h3 {
    text-align: right;
}

#ed-445604253 {
    opacity: 1;
}

#ed-445604253 h3 {
    text-align: right;
}

#ed-445604256 .space {
    height: 30px;
}

#ed-445604259 .space {
    height: 30px;
}

#ed-445604247>.inner {
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: column nowrap;
    padding: 2rem;
}

#ed-445604247 {
    border-width: 1px;
    min-height: 100%;
    border-style: double;
}

@media screen and (max-width: 975px) {
    #ed-445604247>.inner {
        align-items: stretch;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604247>.inner {
        align-items: flex-end;
    }
}

#ed-445604244>.inner {
    place-content: flex-end;
}

#ed-445604244 {
    min-height: 100vh;
}

@media screen and (max-width: 575px) {
    #ed-445604244>.inner {
        align-content: center;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604244 {
        min-height: 100%;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604244 {
        min-height: 100%;
    }
}

#ed-445604127 .space {
    height: 3rem;
}

@media screen and (max-width: 975px) {
    #ed-445604127 .space {
        height: 2rem;
    }
}

#ed-445604121>.inner {
    place-content: center;
    align-items: center;
}

#ed-445604121 {
    flex: 1 0 0%;
    opacity: 1;
}

#ed-445604133 img {
    width: 100%;
    height: 600px;
}

#ed-445604133 {
    position: relative;
}

@media screen and (max-width: 975px) {
    #ed-445604133 img {
        width: 100%;
        height: 400px;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604133 img {
        height: 300px;
    }
}

#ed-445604118>.inner {
    align-items: center;
}

@media screen and (max-width: 975px) {
    #ed-445604118>.inner {
        flex-direction: column-reverse;
    }
}

#ed-445604145 .space {
    height: 3rem;
}

@media screen and (max-width: 975px) {
    #ed-445604145 .space {
        height: 2rem;
    }
}

#ed-445604148 .space {
    height: 3rem;
}

#ed-445604151 {
    opacity: 1;
}

#ed-445604139>.inner {
    align-items: center;
    align-content: center;
}

#ed-445604157 {
    flex-basis: auto;
    flex-grow: 1;
    min-height: 300px;
}

#ed-445604136 {
    min-height: 600px;
    opacity: 1;
}

#ed-445604136>.inner {
    flex-direction: row-reverse;
    align-items: stretch;
}

@media screen and (max-width: 975px) {
    #ed-445604136>.inner {
        flex-direction: column;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604136>.inner {
        flex-direction: column-reverse;
    }
}

#ed-445604163 .space {
    height: 3rem;
}

#ed-445604166 .space {
    height: 3rem;
}

#ed-445604175 .space {
    height: 3rem;
}

#ed-445604184 {
    flex-basis: auto;
    flex-grow: 1;
    min-height: 300px;
}

#ed-445604160 {
    min-height: 600px;
    opacity: 1;
}

#ed-445604160>.inner {
    align-items: stretch;
}

@media screen and (max-width: 975px) {
    #ed-445604160>.inner {
        flex-direction: column;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604160>.inner {
        flex-direction: column-reverse;
    }
}

#ed-445604193 .map-canvas {
    height: 500px;
}

#ed-445604196 {
    flex-basis: auto;
    margin: 0px 1rem 0px 0px;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
}

#ed-445604196>.inner {
    place-content: center;
    align-items: center;
}

@media screen and (max-width: 575px) {
    #ed-445604196>.inner {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 575px) {
    #ed-445604196>.inner {}
}

@media screen and (max-width: 575px) {
    #ed-445604196 {}
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        margin: 0px 0.5rem 0px 0px;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        position: fixed;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        position: fixed;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        position: fixed;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        position: fixed;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        position: fixed;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        position: fixed;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        position: absolute;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        position: fixed;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        position: fixed;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        position: fixed;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        position: fixed;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        position: fixed;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        right: auto;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        left: 0rem;
    }
}

@media screen and (max-width: 575px) {
    #ed-445604196 {
        position: fixed;
    }
}

#ed-445604211 {
    position: fixed;
    z-index: 2;
}