/* _content/XSA/Views/Shared/_EventsLayout.cshtml.rz.scp.css */
#ed-445604217[b-1t84j21yxv] {
  flex-basis: auto;
  text-align: left;
}

#ed-445604217 img[b-1t84j21yxv] {
  width: 220px;
}

@media screen and (max-width: 975px) {
  #ed-445604217 img[b-1t84j21yxv] {
    width: 200px;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604217 img[b-1t84j21yxv] {
    width: 160px;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604217[b-1t84j21yxv] {
    flex-grow: 1;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604217[b-1t84j21yxv] {
    flex-grow: 0;
  }
}

#ed-445604220[b-1t84j21yxv] {
  flex-basis: auto;
  flex-grow: 1;
  box-shadow: rgba(0, 0, 0, 0.1) -20px 0px 20px 0px;
}

@media screen and (max-width: 575px) {
  #ed-445604220[b-1t84j21yxv] {
    box-shadow: none;
  }
}

#ed-445604226[b-1t84j21yxv] {
  flex-basis: auto;
  margin: 0px 2rem 0px 0px;
}

#ed-445604226>.inner[b-1t84j21yxv] {
  place-content: center;
  align-items: center;
}

@media screen and (max-width: 575px) {
  #ed-445604226>.inner[b-1t84j21yxv] {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 575px) {
  #ed-445604226>.inner[b-1t84j21yxv] {}
}

@media screen and (max-width: 575px) {
  #ed-445604226[b-1t84j21yxv] {}
}

@media screen and (max-width: 575px) {
  #ed-445604226[b-1t84j21yxv] {
    margin: 0px 0.5rem 0px 0px;
  }
}

#ed-445604223>.inner[b-1t84j21yxv] {
  place-content: center flex-end;
  align-items: center;
}

#ed-445604223[b-1t84j21yxv] {
  flex-basis: auto;
}

@media screen and (max-width: 575px) {
  #ed-445604223>.inner[b-1t84j21yxv] {
    justify-content: center;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604223[b-1t84j21yxv] {}
}

@media screen and (max-width: 575px) {
  #ed-445604223[b-1t84j21yxv] {
    flex-grow: 0;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604223[b-1t84j21yxv] {}
}

@media screen and (max-width: 575px) {
  #ed-445604223[b-1t84j21yxv] {
    flex-grow: 0;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604223[b-1t84j21yxv] {
    flex-grow: 0;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604223[b-1t84j21yxv] {
    flex-grow: 0;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604223[b-1t84j21yxv] {
    flex-grow: 10;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604223[b-1t84j21yxv] {
    flex-grow: 10;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604223[b-1t84j21yxv] {
    flex-grow: 0;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604223[b-1t84j21yxv] {
    flex-grow: 0;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604223[b-1t84j21yxv] {
    flex-grow: 0;
  }
}

#ed-445604214>.inner[b-1t84j21yxv] {
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 975px) {
  #ed-445604214[b-1t84j21yxv] {
    min-height: 0vh;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604214>.inner[b-1t84j21yxv] {
    place-content: center space-between;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604214[b-1t84j21yxv] {
    min-height: 0vh;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604214[b-1t84j21yxv] {
    min-height: 0vh;
  }
}

@media screen and (max-width: 575px) {}

#ed-445604265 .background-image-holder[b-1t84j21yxv] {
  background-position: 50% 45%;
  background-size: cover;
}

@media screen and (max-width: 975px) {
  #ed-445604265>.background-image-holder:not(.ed-lazyload)[b-1t84j21yxv] {
    /* background-image: url("../assets/images/976_1024x1536_511_0/11862335/WhatsAppImage2024-11-09at13.30.584.jpeg") !important; */
    background-color: green;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604265 .background-image-holder[b-1t84j21yxv] {
    background-position: center bottom;
  }
}

#ed-445604277[b-1t84j21yxv] {
  flex-basis: auto;
}

#ed-445604280 .space[b-1t84j21yxv] {
  height: 30px;
}

@media screen and (max-width: 575px) {
  #ed-445604280 .space[b-1t84j21yxv] {
    height: 1rem;
  }
}

#ed-445604283[b-1t84j21yxv] {
  flex-basis: auto;
  opacity: 1;
}

#ed-445604274>.inner[b-1t84j21yxv] {
  align-items: stretch;
  justify-content: flex-end;
  flex-flow: column nowrap;
  padding: 2rem;
}

#ed-445604274[b-1t84j21yxv] {
  border-width: 1px;
  min-height: 100%;
  border-style: double;
}

@media screen and (max-width: 975px) {
  #ed-445604274>.inner[b-1t84j21yxv] {
    align-items: stretch;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604274>.inner[b-1t84j21yxv] {
    padding: 1rem;
  }
}

#ed-445604271[b-1t84j21yxv] {
  flex-basis: 40%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604271>.inner[b-1t84j21yxv] {
  padding: 2rem;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

@media screen and (max-width: 975px) {
  #ed-445604271[b-1t84j21yxv] {
    flex-basis: auto;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604271>.inner[b-1t84j21yxv] {
    padding: 1.5rem;
  }
}

#ed-445604286[b-1t84j21yxv] {
  flex-basis: auto;
  transform: translate3d(-50%, 0px, 0px) scale(1) rotate(0deg) skew(0deg, 0deg);
  position: absolute;
  left: 50%;
  bottom: 1rem;
}

#ed-445604268>.inner[b-1t84j21yxv] {
  place-content: flex-end;
  flex-flow: row wrap;
  padding: 2rem;
}

#ed-445604268[b-1t84j21yxv] {
  flex-basis: auto;
  order: 0;
  flex-grow: 1;
}

@media screen and (max-width: 975px) {
  #ed-445604268>.inner[b-1t84j21yxv] {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604268>.inner[b-1t84j21yxv] {
    padding: 1rem;
  }
}

#ed-445604262>.inner[b-1t84j21yxv] {
  align-content: stretch;
  flex-direction: column;
}

#ed-445604262[b-1t84j21yxv] {
  min-height: 93vh;
}

@media screen and (max-width: 975px) {
  #ed-445604031>.background-image-holder:not(.ed-lazyload)[b-1t84j21yxv] {
    background-image: url("/images/976/11862767/WhatsAppImage2024-11-09at13.30.597.jpeg") !important;
  }
}

#ed-445604022 h6[b-1t84j21yxv] {
  text-align: right;
}

#ed-445604022 h2[b-1t84j21yxv] {
  text-align: right;
}

#ed-445604022[b-1t84j21yxv] {
  flex-basis: auto;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
  #ed-445604022 h6[b-1t84j21yxv] {
    text-align: center;
  }
}

#ed-445604025 .space[b-1t84j21yxv] {
  height: 30px;
}

@media screen and (max-width: 975px) {
  #ed-445604025 .space[b-1t84j21yxv] {
    height: 20px;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604025[b-1t84j21yxv] {
    flex-basis: auto;
  }
}

#ed-445604028 a.button[b-1t84j21yxv] {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

@media screen and (max-width: 575px) {
  #ed-445604028[b-1t84j21yxv] {
    flex-basis: auto;
  }
}

#ed-445604019>.inner[b-1t84j21yxv] {
  align-items: flex-end;
  justify-content: flex-end;
  flex-flow: column nowrap;
  padding: 2rem;
}

#ed-445604019[b-1t84j21yxv] {
  border-width: 1px;
  min-height: 100%;
  border-style: double;
}

@media screen and (max-width: 975px) {
  #ed-445604019>.inner[b-1t84j21yxv] {
    align-items: stretch;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604019>.inner[b-1t84j21yxv] {
    align-items: center;
  }
}

#ed-445604016[b-1t84j21yxv] {
  min-height: 400px;
  opacity: 1;
}

@media screen and (max-width: 575px) {
  #ed-445604016[b-1t84j21yxv] {
    min-height: 0px;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604016[b-1t84j21yxv] {}
}

@media screen and (max-width: 575px) {
  #ed-445604016>.inner[b-1t84j21yxv] {
    place-content: stretch space-between;
    flex-flow: column;
    align-items: stretch;
  }
}

#ed-445604040 h2[b-1t84j21yxv] {
  text-align: right;
}

#ed-445604040[b-1t84j21yxv] {
  flex-basis: auto;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
  #ed-445604040 h2[b-1t84j21yxv] {
    text-align: center;
  }
}

#ed-445604043 .space[b-1t84j21yxv] {
  height: 30px;
}

@media screen and (max-width: 975px) {
  #ed-445604043 .space[b-1t84j21yxv] {
    height: 20px;
  }
}

#ed-445604046 a.button[b-1t84j21yxv] {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604037>.inner[b-1t84j21yxv] {
  align-items: flex-end;
  justify-content: flex-end;
  flex-flow: column;
  padding: 2rem;
}

#ed-445604037[b-1t84j21yxv] {
  border-width: 1px;
  min-height: 100%;
  border-style: double;
}

@media screen and (max-width: 975px) {
  #ed-445604037>.inner[b-1t84j21yxv] {
    align-items: stretch;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604037>.inner[b-1t84j21yxv] {
    align-items: center;
  }
}

#ed-445604034[b-1t84j21yxv] {
  min-height: 400px;
  opacity: 1;
}

@media screen and (max-width: 575px) {
  #ed-445604034[b-1t84j21yxv] {
    min-height: 0px;
  }
}

#ed-445604058 h2[b-1t84j21yxv] {
  text-align: right;
}

#ed-445604058[b-1t84j21yxv] {
  flex-basis: auto;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
  #ed-445604058 h2[b-1t84j21yxv] {
    text-align: center;
  }
}

#ed-445604061 .space[b-1t84j21yxv] {
  height: 30px;
}

@media screen and (max-width: 975px) {
  #ed-445604061 .space[b-1t84j21yxv] {
    height: 20px;
  }
}

#ed-445604064 a.button[b-1t84j21yxv] {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604055>.inner[b-1t84j21yxv] {
  align-items: flex-end;
  justify-content: flex-end;
  flex-flow: column nowrap;
  padding: 2rem;
}

#ed-445604055[b-1t84j21yxv] {
  border-width: 1px;
  min-height: 100%;
  border-style: double;
}

@media screen and (max-width: 975px) {
  #ed-445604055>.inner[b-1t84j21yxv] {
    align-items: stretch;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604055>.inner[b-1t84j21yxv] {
    align-items: center;
  }
}

#ed-445604049[b-1t84j21yxv] {
  min-height: 400px;
  opacity: 1;
}

@media screen and (max-width: 575px) {
  #ed-445604049[b-1t84j21yxv] {
    min-height: 0px;
  }
}

#ed-445604073 h2[b-1t84j21yxv] {
  text-align: right;
}

#ed-445604073[b-1t84j21yxv] {
  flex-basis: auto;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
  #ed-445604073 h2[b-1t84j21yxv] {
    text-align: center;
  }
}

#ed-445604076 .space[b-1t84j21yxv] {
  height: 30px;
}

@media screen and (max-width: 975px) {
  #ed-445604076 .space[b-1t84j21yxv] {
    height: 20px;
  }
}

#ed-445604079 a.button[b-1t84j21yxv] {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604070>.inner[b-1t84j21yxv] {
  align-items: flex-end;
  justify-content: flex-end;
  flex-flow: column nowrap;
  padding: 2rem;
}

#ed-445604070[b-1t84j21yxv] {
  border-width: 1px;
  min-height: 100%;
  border-style: double;
}

@media screen and (max-width: 975px) {
  #ed-445604070>.inner[b-1t84j21yxv] {
    align-items: stretch;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604070>.inner[b-1t84j21yxv] {
    align-items: center;
  }
}

#ed-445604067[b-1t84j21yxv] {
  min-height: 400px;
  opacity: 1;
}

@media screen and (max-width: 575px) {
  #ed-445604067[b-1t84j21yxv] {
    min-height: 0px;
  }
}

@media screen and (max-width: 975px) {
  #ed-445604085>.background-image-holder:not(.ed-lazyload)[b-1t84j21yxv] {
    background-image: url("/images/976/11862992/WhatsAppImage2024-11-09at15.03.281.jpeg") !important;
  }
}

#ed-445604091 h2[b-1t84j21yxv] {
  text-align: right;
}

#ed-445604091[b-1t84j21yxv] {
  flex-basis: auto;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
  #ed-445604091 h2[b-1t84j21yxv] {
    text-align: center;
  }
}

#ed-445604094 .space[b-1t84j21yxv] {
  height: 30px;
}

@media screen and (max-width: 975px) {
  #ed-445604094 .space[b-1t84j21yxv] {
    height: 20px;
  }
}

#ed-445604097 a.button[b-1t84j21yxv] {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604088>.inner[b-1t84j21yxv] {
  align-items: flex-end;
  justify-content: flex-end;
  flex-flow: column nowrap;
  padding: 2rem;
}

#ed-445604088[b-1t84j21yxv] {
  border-width: 1px;
  min-height: 100%;
  border-style: double;
}

@media screen and (max-width: 975px) {
  #ed-445604088>.inner[b-1t84j21yxv] {
    align-items: stretch;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604088>.inner[b-1t84j21yxv] {
    align-items: center;
  }
}

#ed-445604082[b-1t84j21yxv] {
  min-height: 400px;
  opacity: 1;
}

@media screen and (max-width: 575px) {
  #ed-445604082[b-1t84j21yxv] {
    flex-basis: 100%;
    min-height: 0px;
  }
}

@media screen and (max-width: 975px) {
  #ed-445604103>.background-image-holder:not(.ed-lazyload)[b-1t84j21yxv] {
    background-image: url("/images/976_1536x1225_0_411/11863002/WhatsAppImage2024-11-09at13.30.5810.jpeg") !important;
  }
}

#ed-445604109 h2[b-1t84j21yxv] {
  text-align: right;
}

#ed-445604109[b-1t84j21yxv] {
  flex-basis: auto;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
  #ed-445604109 h2[b-1t84j21yxv] {
    text-align: center;
  }
}

#ed-445604112 .space[b-1t84j21yxv] {
  height: 30px;
}

@media screen and (max-width: 975px) {
  #ed-445604112 .space[b-1t84j21yxv] {
    height: 20px;
  }
}

#ed-445604115 a.button[b-1t84j21yxv] {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604106>.inner[b-1t84j21yxv] {
  align-items: flex-end;
  justify-content: flex-end;
  flex-flow: column nowrap;
  padding: 2rem;
}

#ed-445604106[b-1t84j21yxv] {
  border-width: 1px;
  min-height: 100%;
  border-style: double;
}

@media screen and (max-width: 975px) {
  #ed-445604106>.inner[b-1t84j21yxv] {
    align-items: stretch;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604106>.inner[b-1t84j21yxv] {
    align-items: center;
  }
}

#ed-445604100[b-1t84j21yxv] {
  min-height: 400px;
  opacity: 1;
}

@media screen and (max-width: 575px) {
  #ed-445604100[b-1t84j21yxv] {
    min-height: 0px;
  }
}

@media screen and (max-width: 975px) {
  #ed-445604301>.background-image-holder:not(.ed-lazyload)[b-1t84j21yxv] {
    background-image: url("/images/976_1925x1536_61_0/11863013/WhatsAppImage2024-11-09at13.30.588.jpeg") !important;
  }
}

#ed-445604307 h2[b-1t84j21yxv] {
  text-align: right;
}

#ed-445604307[b-1t84j21yxv] {
  flex-basis: auto;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
  #ed-445604307 h2[b-1t84j21yxv] {
    text-align: center;
  }
}

#ed-445604310 .space[b-1t84j21yxv] {
  height: 30px;
}

@media screen and (max-width: 975px) {
  #ed-445604310 .space[b-1t84j21yxv] {
    height: 20px;
  }
}

#ed-445604313 a.button[b-1t84j21yxv] {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604304>.inner[b-1t84j21yxv] {
  align-items: flex-end;
  justify-content: flex-end;
  flex-flow: column nowrap;
  padding: 2rem;
}

#ed-445604304[b-1t84j21yxv] {
  border-width: 1px;
  min-height: 100%;
  border-style: double;
}

@media screen and (max-width: 975px) {
  #ed-445604304>.inner[b-1t84j21yxv] {
    align-items: stretch;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604304>.inner[b-1t84j21yxv] {
    align-items: center;
  }
}

#ed-445604298[b-1t84j21yxv] {
  min-height: 400px;
  opacity: 1;
}

@media screen and (max-width: 575px) {
  #ed-445604298[b-1t84j21yxv] {
    min-height: 0px;
  }
}

#ed-445604322 h2[b-1t84j21yxv] {
  text-align: right;
}

#ed-445604322[b-1t84j21yxv] {
  flex-basis: auto;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
  #ed-445604322 h2[b-1t84j21yxv] {
    text-align: center;
  }
}

#ed-445604325 .space[b-1t84j21yxv] {
  height: 30px;
}

@media screen and (max-width: 975px) {
  #ed-445604325 .space[b-1t84j21yxv] {
    height: 20px;
  }
}

#ed-445604328 a.button[b-1t84j21yxv] {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604319>.inner[b-1t84j21yxv] {
  align-items: flex-end;
  justify-content: flex-end;
  flex-flow: column nowrap;
  padding: 2rem;
}

#ed-445604319[b-1t84j21yxv] {
  border-width: 1px;
  min-height: 100%;
  border-style: double;
}

@media screen and (max-width: 975px) {
  #ed-445604319>.inner[b-1t84j21yxv] {
    align-items: stretch;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604319>.inner[b-1t84j21yxv] {
    align-items: center;
  }
}

#ed-445604316[b-1t84j21yxv] {
  min-height: 400px;
  opacity: 1;
}

@media screen and (max-width: 575px) {
  #ed-445604316[b-1t84j21yxv] {
    min-height: 0px;
  }
}

#ed-445604340 h2[b-1t84j21yxv] {
  text-align: right;
}

#ed-445604340[b-1t84j21yxv] {
  flex-basis: auto;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

@media screen and (max-width: 575px) {
  #ed-445604340 h2[b-1t84j21yxv] {
    text-align: center;
  }
}

#ed-445604343 .space[b-1t84j21yxv] {
  height: 30px;
}

@media screen and (max-width: 975px) {
  #ed-445604343 .space[b-1t84j21yxv] {
    height: 20px;
  }
}

#ed-445604346 a.button[b-1t84j21yxv] {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

#ed-445604337>.inner[b-1t84j21yxv] {
  align-items: flex-end;
  justify-content: flex-end;
  flex-flow: column nowrap;
  padding: 2rem;
}

#ed-445604337[b-1t84j21yxv] {
  border-width: 1px;
  min-height: 100%;
  border-style: double;
}

@media screen and (max-width: 975px) {
  #ed-445604337>.inner[b-1t84j21yxv] {
    align-items: stretch;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604337>.inner[b-1t84j21yxv] {
    align-items: center;
  }
}

#ed-445604331[b-1t84j21yxv] {
  min-height: 400px;
  opacity: 1;
}

@media screen and (max-width: 575px) {
  #ed-445604331[b-1t84j21yxv] {
    min-height: 0px;
  }
}

#ed-445604250[b-1t84j21yxv] {
  opacity: 1;
}

#ed-445604250 h3[b-1t84j21yxv] {
  text-align: right;
}

#ed-445604253[b-1t84j21yxv] {
  opacity: 1;
}

#ed-445604253 h3[b-1t84j21yxv] {
  text-align: right;
}

#ed-445604256 .space[b-1t84j21yxv] {
  height: 30px;
}

#ed-445604259 .space[b-1t84j21yxv] {
  height: 30px;
}

#ed-445604247>.inner[b-1t84j21yxv] {
  align-items: flex-end;
  justify-content: flex-end;
  flex-flow: column nowrap;
  padding: 2rem;
}

#ed-445604247[b-1t84j21yxv] {
  border-width: 1px;
  min-height: 100%;
  border-style: double;
}

@media screen and (max-width: 975px) {
  #ed-445604247>.inner[b-1t84j21yxv] {
    align-items: stretch;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604247>.inner[b-1t84j21yxv] {
    align-items: flex-end;
  }
}

#ed-445604244>.inner[b-1t84j21yxv] {
  place-content: flex-end;
}

#ed-445604244[b-1t84j21yxv] {
  min-height: 100vh;
}

@media screen and (max-width: 575px) {
  #ed-445604244>.inner[b-1t84j21yxv] {
    align-content: center;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604244[b-1t84j21yxv] {
    min-height: 100%;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604244[b-1t84j21yxv] {
    min-height: 100%;
  }
}

#ed-445604127 .space[b-1t84j21yxv] {
  height: 3rem;
}

@media screen and (max-width: 975px) {
  #ed-445604127 .space[b-1t84j21yxv] {
    height: 2rem;
  }
}

#ed-445604121>.inner[b-1t84j21yxv] {
  place-content: center;
  align-items: center;
}

#ed-445604121[b-1t84j21yxv] {
  flex: 1 0 0%;
  opacity: 1;
}

#ed-445604133 img[b-1t84j21yxv] {
  width: 100%;
  height: 600px;
}

#ed-445604133[b-1t84j21yxv] {
  position: relative;
}

@media screen and (max-width: 975px) {
  #ed-445604133 img[b-1t84j21yxv] {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604133 img[b-1t84j21yxv] {
    height: 300px;
  }
}

#ed-445604118>.inner[b-1t84j21yxv] {
  align-items: center;
}

@media screen and (max-width: 975px) {
  #ed-445604118>.inner[b-1t84j21yxv] {
    flex-direction: column-reverse;
  }
}

#ed-445604145 .space[b-1t84j21yxv] {
  height: 3rem;
}

@media screen and (max-width: 975px) {
  #ed-445604145 .space[b-1t84j21yxv] {
    height: 2rem;
  }
}

#ed-445604148 .space[b-1t84j21yxv] {
  height: 3rem;
}

#ed-445604151[b-1t84j21yxv] {
  opacity: 1;
}

#ed-445604139>.inner[b-1t84j21yxv] {
  align-items: center;
  align-content: center;
}

#ed-445604157[b-1t84j21yxv] {
  flex-basis: auto;
  flex-grow: 1;
  min-height: 300px;
}

#ed-445604136[b-1t84j21yxv] {
  min-height: 600px;
  opacity: 1;
}

#ed-445604136>.inner[b-1t84j21yxv] {
  flex-direction: row-reverse;
  align-items: stretch;
}

@media screen and (max-width: 975px) {
  #ed-445604136>.inner[b-1t84j21yxv] {
    flex-direction: column;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604136>.inner[b-1t84j21yxv] {
    flex-direction: column-reverse;
  }
}

#ed-445604163 .space[b-1t84j21yxv] {
  height: 3rem;
}

#ed-445604166 .space[b-1t84j21yxv] {
  height: 3rem;
}

#ed-445604175 .space[b-1t84j21yxv] {
  height: 3rem;
}

#ed-445604184[b-1t84j21yxv] {
  flex-basis: auto;
  flex-grow: 1;
  min-height: 300px;
}

#ed-445604160[b-1t84j21yxv] {
  min-height: 600px;
  opacity: 1;
}

#ed-445604160>.inner[b-1t84j21yxv] {
  align-items: stretch;
}

@media screen and (max-width: 975px) {
  #ed-445604160>.inner[b-1t84j21yxv] {
    flex-direction: column;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604160>.inner[b-1t84j21yxv] {
    flex-direction: column-reverse;
  }
}

#ed-445604193 .map-canvas[b-1t84j21yxv] {
  height: 500px;
}

#ed-445604196[b-1t84j21yxv] {
  flex-basis: auto;
  margin: 0px 1rem 0px 0px;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}

#ed-445604196>.inner[b-1t84j21yxv] {
  place-content: center;
  align-items: center;
}

@media screen and (max-width: 575px) {
  #ed-445604196>.inner[b-1t84j21yxv] {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 575px) {
  #ed-445604196>.inner[b-1t84j21yxv] {}
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {}
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    margin: 0px 0.5rem 0px 0px;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    position: fixed;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    position: fixed;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    position: fixed;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    position: fixed;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    position: fixed;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    position: fixed;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    position: absolute;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    position: fixed;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    position: fixed;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    position: fixed;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    position: fixed;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    position: fixed;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    right: auto;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    left: 0rem;
  }
}

@media screen and (max-width: 575px) {
  #ed-445604196[b-1t84j21yxv] {
    position: fixed;
  }
}

#ed-445604211[b-1t84j21yxv] {
  position: fixed;
  z-index: 2;
}
/* _content/XSA/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-l6rp9s9l7a] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-l6rp9s9l7a] {
  color: #0077cc;
}

.btn-primary[b-l6rp9s9l7a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-l6rp9s9l7a], .nav-pills .show > .nav-link[b-l6rp9s9l7a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-l6rp9s9l7a] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-l6rp9s9l7a] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-l6rp9s9l7a] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-l6rp9s9l7a] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-l6rp9s9l7a] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
